In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt



#postulantesEducacion = pd.read_csv('resources/tar/fiuba_1_postulantes_educacion.csv')
#postulantesGenero = pd.read_csv('resources/tar/fiuba_2_postulantes_genero_y_edad.csv')
vistas = pd.read_csv('resources/tar/fiuba_3_vistas.csv')
postulaciones = pd.read_csv('resources/tar/fiuba_4_postulaciones.csv')
#avisosOnline = pd.read_csv('resources/tar/fiuba_5_avisos_online.csv')
avisosDetalle = pd.read_csv('resources/tar/fiuba_6_avisos_detalle.csv')

In [3]:
#cargamos zips
avisosDetalleZIP = pd.read_csv('resources/zip/fiuba_6_avisos_detalle.csv')
avisosDetalleMissing = pd.read_csv('resources/zip/fiuba_6_avisos_missing.csv')

In [4]:
avisosDetallesCompletos = pd.concat([avisosDetalleZIP,avisosDetalleMissing])

In [5]:
testingSet = pd.read_csv('resources/test_final_100k.csv')

In [6]:
postulacionesMerged = pd.merge(postulaciones,avisosDetalle,on='idaviso',how='inner');

In [7]:
postulacionesMerged['datePostulacion'] = pd.DatetimeIndex(postulacionesMerged['fechapostulacion']).date
postulacionesMergedFiltered = postulacionesMerged.drop(['ciudad','mapacalle','idpais','fechapostulacion'],axis=1)

In [5]:
postulacionesMergedFiltered.columns

Index(['idaviso', 'idpostulante', 'titulo', 'descripcion', 'nombre_zona',
       'tipo_de_trabajo', 'nivel_laboral', 'nombre_area',
       'denominacion_empresa', 'datePostulacion'],
      dtype='object')

In [8]:
postulacionesMerged['cantidadEmpresa'] = 1;
cantAvisosPorEmpresa = postulacionesMerged.groupby('denominacion_empresa').sum()
cantAvisosPorEmpresa = cantAvisosPorEmpresa.reset_index()
cantAvisosPorEmpresa = cantAvisosPorEmpresa[['denominacion_empresa','cantidadEmpresa']]

In [9]:
postulacionesConEmpresas = pd.merge(postulacionesMergedFiltered,cantAvisosPorEmpresa,how='inner',on='denominacion_empresa')

In [10]:
postulacionesConEmpresas.columns

Index(['idaviso', 'idpostulante', 'titulo', 'descripcion', 'nombre_zona',
       'tipo_de_trabajo', 'nivel_laboral', 'nombre_area',
       'denominacion_empresa', 'datePostulacion', 'cantidadEmpresa'],
      dtype='object')

In [11]:
postulacionesFinal = postulacionesConEmpresas.drop('titulo',axis=1)
postulacionesFinal.drop(['descripcion','denominacion_empresa'],axis=1,inplace=True);
postulacionesFinal.drop('nombre_area',axis=1,inplace=True)

In [68]:
postulacionesFinal.head()

,idaviso,idpostulante,nombre_zona,tipo_de_trabajo,nivel_laboral,datePostulacion,cantidadEmpresa
0,1112248724,NjlD,Gran Buenos Aires,Full-time,Senior / Semi-Senior,2018-01-19,2318
1,1112248724,MV6eM8N,Gran Buenos Aires,Full-time,Senior / Semi-Senior,2018-01-30,2318
2,1112248724,5LzQkN,Gran Buenos Aires,Full-time,Senior / Semi-Senior,2018-01-15,2318
3,1112248724,8M2rOBz,Gran Buenos Aires,Full-time,Senior / Semi-Senior,2018-01-30,2318
4,1112248724,Dr6V3Da,Gran Buenos Aires,Full-time,Senior / Semi-Senior,2018-01-23,2318

In [12]:
postulacionesOHC = pd.concat([postulacionesFinal,pd.get_dummies(postulacionesFinal['nombre_zona'], prefix='zona')],axis=1)
postulacionesOHC = pd.concat([postulacionesOHC,pd.get_dummies(postulacionesFinal['tipo_de_trabajo'], prefix='tipo')],axis=1)
postulacionesOHC = pd.concat([postulacionesOHC,pd.get_dummies(postulacionesFinal['nivel_laboral'], prefix='nivel')],axis=1)

In [13]:
postulacionesOHC.drop(['nivel_laboral','tipo_de_trabajo','nombre_zona'],axis=1,inplace=True)

In [14]:
postulacionesOHC['sepostulo'] = 1;

In [55]:
postulacionesOHC.info

<bound method DataFrame.info of             idaviso idpostulante  cantidadEmpresa_x  cantidadEmpresa_y  \
0        1112248724         NjlD                  1               2318
1        1112248724      MV6eM8N                  1               2318
2        1112248724       5LzQkN                  1               2318
3        1112248724      8M2rOBz                  1               2318
4        1112248724      Dr6V3Da                  1               2318
5        1112248724       8mkDQD                  1               2318
6        1112248724      VNk6V22                  1               2318
7        1112248724      dYjLleA                  1               2318
8        1112248724      xkadArb                  1               2318
9        1112248724      xkvx9D0                  1               2318
10       1112248724        aj1v0                  1               2318
11       1112248724        6OkGl                  1               2318
12       1112248724       686xdx                  1               2318
13       1112248724      lDw9dxz                  1               2318
14       1112248724      NzdJNoJ                  1               2318
15       1112248724      8MaOpPD                  1               2318
16       1112248724       aE15QW                  1               2318
17       1112248724       E9jRRJ                  1               2318
18       1112248724      mzVJE43                  1               2318
19       1112248724      8MalQ6x                  1               2318
20       1112248724       aWY5D5                  1               2318
21       1112248724       6Kr0Zr                  1               2318
22       1112248724      vVjqaPj                  1               2318
23       1112248724       8XGPZ3                  1               2318
24       1112248724      A3vxaMY                  1               2318
25       1112248724       5kdoVv                  1               2318
26       1112248724      wVk3wRl                  1               2318
27       1112248724       YL5j1J                  1               2318
28       1112248724      LNedP3j                  1               2318
29       1112248724       6prANl                  1               2318
...             ...          ...                ...                ...
4505417  1112445221       6J6GX4                  1                  2
4505418  1112361689      Yj5rejV                  1                  6
4505419  1112361689      JBxPPRp                  1                  6
4505420  1112361689      zv8AoGK                  1                  6
4505421  1112456159      JBxPPRp                  1                  6
4505422  1112156831      PmJqG50                  1                  6
4505423  1112157764      PmJqG50                  1                  6
4505424  1112243857      wVk11Ym                  1                  5
4505425  1112243857       YOKjk1                  1                  5
4505426  1112243857      EzpaQ60                  1                  5
4505427  1112243857      1QdMRzL                  1                  5
4505428  1112243857       1pbxaz                  1                  5
4505429  1112261433       NWqqKl                  1                  2
4505430  1112261433      zv8AoGK                  1                  2
4505431  1112259957      Eze6vj2                  1                  5
4505432  1112259957      1QdW6pB                  1                  5
4505433  1112259957      4rPJ2QA                  1                  5
4505434  1112259957      8Ma13dL                  1                  5
4505435  1112259957       NVZdpV                  1                  5
4505436  1112325783       YLGezX                  1                  4
4505437  1112325783      rmd59N9                  1                  4
4505438  1112325783      Ezewa9N                  1                  4
4505439  1112325783      1Q42vBB                  1                  4
4505440  1112365505      4rPx4jR                  1                  1
4505441  1112201875      xkP1ErK                  1                  1
4505442  1112237411      kP61Wjj                  1                  2
4505443  1112237411      dYzDALA                  1                  2
4505444  1112202261      VNPlzom                  1                  1
4505445  1112358649       1pbxaz                  1                  1
4505446  1112368769       eYp4v2                  1                  1

         zona_Capital Federal  zona_GBA Oeste  zona_Gran Buenos Aires  \
0                           0               0                       1
1                           0               0                       1
2                           0               0                       1
3                           0               0                       1
4                           0               0                       1
5                           0               0                       1
6                           0               0                       1
7                           0               0                       1
8                           0               0                       1
9                           0               0                       1
10                          0               0                       1
11                          0               0                       1
12                          0               0                       1
13                          0               0                       1
14                          0               0                       1
15                          0               0                       1
16                          0               0                       1
17                          0               0                       1
18                          0               0                       1
19                          0               0                       1
20                          0               0                       1
21                          0               0                       1
22                          0               0                       1
23                          0               0                       1
24                          0               0                       1
25                          0               0                       1
26                          0               0                       1
27                          0               0                       1
28                          0               0                       1
29                          0               0                       1
...                       ...             ...                     ...
4505417                     0               0                       1
4505418                     0               0                       1
4505419                     0               0                       1
4505420                     0               0                       1
4505421                     0               0                       1
4505422                     0               0                       1
4505423                     0               0                       1
4505424                     0               0                       1
4505425                     0               0                       1
4505426                     0               0                       1
4505427                     0               0                       1
4505428                     0               0                       1
4505429                     0               0                       1
4505430                     0               0                       1
4505431                     0               0                       1
4505432                     0               0                       1
4505433                     0               0                       1
4505434                     0               0                       1
4505435                     0               0                       1
4505436                     1               0                       0
4505437                     1               0                       0
4505438                     1               0                       0
4505439                     1               0                       0
4505440                     0               0                       1
4505441                     0               0                       1
4505442                     0               0                       1
4505443                     0               0                       1
4505444                     0               0                       1
4505445                     0               0                       1
4505446                     1               0                       0

         tipo_Fines de Semana  tipo_Full-time  tipo_Part-time    ...      \
0                           0               1               0    ...
1                           0               1               0    ...
2                           0               1               0    ...
3                           0               1               0    ...
4                           0               1               0    ...
5                           0               1               0    ...
6                           0               1               0    ...
7                           0               1               0    ...
8                           0               1               0    ...
9                           0               1               0    ...
10                          0               1               0    ...
11                          0               1               0    ...
12                          0               1               0    ...
13                          0               1               0    ...
14                          0               1               0    ...
15                          0               1               0    ...
16                          0               1               0    ...
17                          0               1               0    ...
18                          0               1               0    ...
19                          0               1               0    ...
20                          0               1               0    ...
21                          0               1               0    ...
22                          0               1               0    ...
23                          0               1               0    ...
24                          0               1               0    ...
25                          0               1               0    ...
26                          0               1               0    ...
27                          0               1               0    ...
28                          0               1               0    ...
29                          0               1               0    ...
...                       ...             ...             ...    ...
4505417                     0               1               0    ...
4505418                     0               1               0    ...
4505419                     0               1               0    ...
4505420                     0               1               0    ...
4505421                     0               1               0    ...
4505422                     0               1               0    ...
4505423                     0               1               0    ...
4505424                     0               1               0    ...
4505425                     0               1               0    ...
4505426                     0               1               0    ...
4505427                     0               1               0    ...
4505428                     0               1               0    ...
4505429                     0               1               0    ...
4505430                     0               1               0    ...
4505431                     0               1               0    ...
4505432                     0               1               0    ...
4505433                     0               1               0    ...
4505434                     0               1               0    ...
4505435                     0               1               0    ...
4505436                     0               1               0    ...
4505437                     0               1               0    ...
4505438                     0               1               0    ...
4505439                     0               1               0    ...
4505440                     0               1               0    ...
4505441                     0               1               0    ...
4505442                     0               1               0    ...
4505443                     0               1               0    ...
4505444                     0               1               0    ...
4505445                     0               1               0    ...
4505446                     0               1               0    ...

         tipo_Primer empleo  tipo_Teletrabajo  tipo_Temporario  \
0                         0                 0                0
1                         0                 0                0
2                         0                 0                0
3                         0                 0                0
4                         0                 0                0
5                         0                 0                0
6                         0                 0                0
7                         0                 0                0
8                         0                 0                0
9                         0                 0                0
10                        0                 0                0
11                        0                 0                0
12                        0                 0                0
13                        0                 0                0
14                        0                 0                0
15                        0                 0                0
16                        0                 0                0
17                        0                 0                0
18                        0                 0                0
19                        0                 0                0
20                        0                 0                0
21                        0                 0                0
22                        0                 0                0
23                        0                 0                0
24                        0                 0                0
25                        0                 0                0
26                        0                 0                0
27                        0                 0                0
28                        0                 0                0
29                        0                 0                0
...                     ...               ...              ...
4505417                   0                 0                0
4505418                   0                 0                0
4505419                   0                 0                0
4505420                   0                 0                0
4505421                   0                 0                0
4505422                   0                 0                0
4505423                   0                 0                0
4505424                   0                 0                0
4505425                   0                 0                0
4505426                   0                 0                0
4505427                   0                 0                0
4505428                   0                 0                0
4505429                   0                 0                0
4505430                   0                 0                0
4505431                   0                 0                0
4505432                   0                 0                0
4505433                   0                 0                0
4505434                   0                 0                0
4505435                   0                 0                0
4505436                   0                 0                0
4505437                   0                 0                0
4505438                   0                 0                0
4505439                   0                 0                0
4505440                   0                 0                0
4505441                   0                 0                0
4505442                   0                 0                0
4505443                   0                 0                0
4505444                   0                 0                0
4505445                   0                 0                0
4505446                   0                 0                0

         tipo_Voluntario  nivel_Gerencia / Alta Gerencia / Dirección  \
0                      0                                           0
1                      0                                           0
2                      0                                           0
3                      0                                           0
4                      0                                           0
5                      0                                           0
6                      0                                           0
7                      0                                           0
8                      0                                           0
9                      0                                           0
10                     0                                           0
11                     0                                           0
12                     0                                           0
13                     0                                           0
14                     0                                           0
15                     0                                           0
16                     0                                           0
17                     0                                           0
18                     0                                           0
19                     0                                           0
20                     0                                           0
21                     0                                           0
22                     0                                           0
23                     0                                           0
24                     0                                           0
25                     0                                           0
26                     0                                           0
27                     0                                           0
28                     0                                           0
29                     0                                           0
...                  ...                                         ...
4505417                0                                           0
4505418                0                                           0
4505419                0                                           0
4505420                0                                           0
4505421                0                                           0
4505422                0                                           0
4505423                0                                           0
4505424                0                                           0
4505425                0                                           0
4505426                0                                           0
4505427                0                                           0

In [15]:
postulacionesOHC.columns

Index(['idaviso', 'idpostulante', 'datePostulacion', 'cantidadEmpresa',
       'zona_Capital Federal', 'zona_GBA Oeste', 'zona_Gran Buenos Aires',
       'tipo_Fines de Semana', 'tipo_Full-time', 'tipo_Part-time',
       'tipo_Pasantia', 'tipo_Por Contrato', 'tipo_Por Horas',
       'tipo_Primer empleo', 'tipo_Teletrabajo', 'tipo_Temporario',
       'tipo_Voluntario', 'nivel_Gerencia / Alta Gerencia / Dirección',
       'nivel_Jefe / Supervisor / Responsable', 'nivel_Junior', 'nivel_Otro',
       'nivel_Senior / Semi-Senior', 'sepostulo'],
      dtype='object')

In [16]:
avisosPostulados = postulacionesOHC[['idaviso','idpostulante','datePostulacion']]

In [73]:
avisosPostulados.info

<bound method DataFrame.info of             idaviso idpostulante datePostulacion
0        1112248724         NjlD      2018-01-19
1        1112248724      MV6eM8N      2018-01-30
2        1112248724       5LzQkN      2018-01-15
3        1112248724      8M2rOBz      2018-01-30
4        1112248724      Dr6V3Da      2018-01-23
5        1112248724       8mkDQD      2018-01-21
6        1112248724      VNk6V22      2018-01-15
7        1112248724      dYjLleA      2018-01-17
8        1112248724      xkadArb      2018-01-15
9        1112248724      xkvx9D0      2018-01-22
10       1112248724        aj1v0      2018-01-17
11       1112248724        6OkGl      2018-01-22
12       1112248724       686xdx      2018-01-24
13       1112248724      lDw9dxz      2018-01-15
14       1112248724      NzdJNoJ      2018-01-17
15       1112248724      8MaOpPD      2018-01-16
16       1112248724       aE15QW      2018-01-15
17       1112248724       E9jRRJ      2018-01-18
18       1112248724      mzVJE43      2018-01-18
19       1112248724      8MalQ6x      2018-01-22
20       1112248724       aWY5D5      2018-01-30
21       1112248724       6Kr0Zr      2018-01-16
22       1112248724      vVjqaPj      2018-01-16
23       1112248724       8XGPZ3      2018-01-29
24       1112248724      A3vxaMY      2018-01-16
25       1112248724       5kdoVv      2018-01-28
26       1112248724      wVk3wRl      2018-01-18
27       1112248724       YL5j1J      2018-01-16
28       1112248724      LNedP3j      2018-02-01
29       1112248724       6prANl      2018-01-17
...             ...          ...             ...
4505417  1112445221       6J6GX4      2018-04-10
4505418  1112361689      Yj5rejV      2018-03-01
4505419  1112361689      JBxPPRp      2018-02-27
4505420  1112361689      zv8AoGK      2018-03-04
4505421  1112456159      JBxPPRp      2018-04-11
4505422  1112156831      PmJqG50      2018-01-22
4505423  1112157764      PmJqG50      2018-01-22
4505424  1112243857      wVk11Ym      2018-01-17
4505425  1112243857       YOKjk1      2018-01-29
4505426  1112243857      EzpaQ60      2018-01-29
4505427  1112243857      1QdMRzL      2018-01-22
4505428  1112243857       1pbxaz      2018-01-15
4505429  1112261433       NWqqKl      2018-02-03
4505430  1112261433      zv8AoGK      2018-01-21
4505431  1112259957      Eze6vj2      2018-01-31
4505432  1112259957      1QdW6pB      2018-01-15
4505433  1112259957      4rPJ2QA      2018-01-31
4505434  1112259957      8Ma13dL      2018-01-15
4505435  1112259957       NVZdpV      2018-01-31
4505436  1112325783       YLGezX      2018-02-12
4505437  1112325783      rmd59N9      2018-02-13
4505438  1112325783      Ezewa9N      2018-02-14
4505439  1112325783      1Q42vBB      2018-02-15
4505440  1112365505      4rPx4jR      2018-02-28
4505441  1112201875      xkP1ErK      2018-01-17
4505442  1112237411      kP61Wjj      2018-01-18
4505443  1112237411      dYzDALA      2018-01-17
4505444  1112202261      VNPlzom      2018-01-16
4505445  1112358649       1pbxaz      2018-03-01
4505446  1112368769       eYp4v2      2018-03-05

[4505447 rows x 3 columns]>

In [17]:
avisosPostulados['cantPostulaciones'] = 1;
avisosPostuladosGP = avisosPostulados.groupby(['idaviso','idpostulante']).sum()
avisosPostuladosGP = avisosPostuladosGP.reset_index()
avisosPostuladosGP.info

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

<bound method DataFrame.info of             idaviso idpostulante  cantPostulaciones
0           8725750       1qwDrO                  1
1           8725750      2zkzE9Y                  1
2           8725750      2zwqd9V                  1
3           8725750      4rLbkk5                  1
4           8725750      4rPorjK                  1
5           8725750       5KQxVM                  1
6           8725750       606XOl                  1
7           8725750      6r5Ge3r                  1
8           8725750      6rB1NXx                  1
9           8725750      6rPGLR4                  1
10          8725750       6w8lOR                  1
11          8725750      8MP1qRz                  1
12          8725750       8r03az                  1
13          8725750       8rYAPO                  1
14          8725750       8vj3v3                  1
15          8725750      96XeV8P                  1
16          8725750      96Z5lP5                  1
17          8725750      96Zqw15                  1
18          8725750      A3Xjaz5                  1
19          8725750      BmaOvoE                  1
20          8725750      GNXKv2p                  1
21          8725750      JBd8Ykp                  1
22          8725750      JBxBp55                  1
23          8725750      JBxNbaW                  1
24          8725750      JBxVqEk                  1
25          8725750      JBxzlJp                  1
26          8725750      KBdGAXq                  1
27          8725750      KBdm6GX                  1
28          8725750      KBe6jed                  1
29          8725750      KBrpvLQ                  1
...             ...          ...                ...
4504859  1112470110      zva1wq8                  1
4504860  1112470134      PmB8DP0                  1
4504861  1112470134       Y2Pa0P                  1
4504862  1112470134       aBe3LD                  1
4504863  1112470166      0zN1a8v                  1
4504864  1112470166      6r5Eq6l                  1
4504865  1112470166       6vREvR                  1
4504866  1112470166      96Mvppp                  1
4504867  1112470166      96zMV95                  1
4504868  1112470166      JBrWGAe                  1
4504869  1112470166      MVr0K3o                  1
4504870  1112470166      Rz6A5Y6                  1
4504871  1112470166      ZD2dllb                  1
4504872  1112470166      mzbGjKG                  1
4504873  1112470166      owPZb0r                  1
4504874  1112470172      5mrV9QN                  1
4504875  1112470172      MVr0K3o                  1
4504876  1112470172      W9A0qJl                  1
4504877  1112470230      6r5kLOj                  1
4504878  1112470230      96zMV95                  1
4504879  1112470230      DrJ6Qk5                  1
4504880  1112470230      KBd3elX                  1
4504881  1112470230       NDE3pl                  1
4504882  1112470230       Y5Qb4r                  1
4504883  1112470230      lDXMeqX                  1
4504884  1112470244      5mlNzJq                  1
4504885  1112470281      JBdN3Rk                  1
4504886  1112470281      JBrWGAe                  1
4504887  1112470281       YG0o61                  1
4504888  1112470281      vV9Mzxo                  1

[4504889 rows x 3 columns]>

# Vistas

### Trabajo con la vistas, para reducirlas y generar avisos vistos, pero no postulados

In [18]:
vistas['timestamp'] = pd.to_datetime(vistas['timestamp'])
vistas['dateVista'] = pd.DatetimeIndex(vistas['timestamp']).date

In [20]:
vistasGrouped = vistas.groupby(['dateVista','idpostulante','idAviso']).count();
vistasGrouped = vistasGrouped.reset_index();

In [21]:
vistasGrouped.info

<bound method DataFrame.info of           dateVista idpostulante     idAviso  timestamp
0        2018-03-22      0z5JW1r  1112417455          1
1        2018-03-22      0zB02qr  1112317620          1
2        2018-03-22      0zB02qr  1112362627          2
3        2018-03-22      0zB02qr  1112384556          6
4        2018-03-22      0zB02qr  1112403061          2
5        2018-03-22      0zB02qr  1112410278          5
6        2018-03-22      0zB02qr  1112417329          2
7        2018-03-22      0zB1oA1  1112417467          1
8        2018-03-22      0zB2Kp9  1112408821          1
9        2018-03-22      0zB2bxr  1112246884          2
10       2018-03-22      0zB2bxr  1112352890          2
11       2018-03-22      0zB2bxr  1112355747          2
12       2018-03-22      0zB2bxr  1112407559          1
13       2018-03-22      0zB2bxr  1112409876          2
14       2018-03-22      0zB2eMa  1112362057          2
15       2018-03-22      0zB2eMa  1112419006          2
16       2018-03-22      0zB3laq  1112414580          2
17       2018-03-22      0zB4a69  1112417820          2
18       2018-03-22      0zB4bv1  1112382474          1
19       2018-03-22      0zB4bv1  1112390258          1
20       2018-03-22      0zB4bv1  1112416203          1
21       2018-03-22      0zB51qd  1112412960          2
22       2018-03-22      0zB51qd  1112418025          1
23       2018-03-22      0zB6OZr  1111218850          1
24       2018-03-22      0zB6OZr  1111822505          3
25       2018-03-22      0zB6OZr  1112039522          1
26       2018-03-22      0zB6OZr  1112388569          1
27       2018-03-22      0zB6OZr  1112396114          1
28       2018-03-22      0zB6OZr  1112407256          1
29       2018-03-22      0zB8NJ1  1000851124          1
...             ...          ...         ...        ...
3192052  2018-04-16      zvxqXP5  1112338408          3
3192053  2018-04-16      zvxrAzJ  1112467497          2
3192054  2018-04-16      zvxrERK  1112443945          2
3192055  2018-04-16      zvxrERK  1112451302          5
3192056  2018-04-16      zvxrERK  1112455261          3
3192057  2018-04-16      zvxrERK  1112463782          2
3192058  2018-04-16      zvxrERK  1112464159          4
3192059  2018-04-16      zvxrWam  1112429754          2
3192060  2018-04-16      zvxrWam  1112442707          1
3192061  2018-04-16      zvxrWam  1112455550          1
3192062  2018-04-16      zvxv5vE  1112334789          3
3192063  2018-04-16      zvxv5vE  1112334806          3
3192064  2018-04-16      zvxv5vE  1112411445          3
3192065  2018-04-16      zvxvOPm  1112457272          1
3192066  2018-04-16      zvxxNE8  1112375200          4
3192067  2018-04-16      zvxxNE8  1112421883          2
3192068  2018-04-16      zvxxNE8  1112461879          2
3192069  2018-04-16      zvxxW65  1111753681          2
3192070  2018-04-16      zvxxW65  1112363711          4
3192071  2018-04-16      zvxxW65  1112410555          2
3192072  2018-04-16      zvxxj2E  1112422710          2
3192073  2018-04-16      zvxxj2E  1112428207          2
3192074  2018-04-16      zvxxj2E  1112443857          2
3192075  2018-04-16      zvxxj2E  1112464131          1
3192076  2018-04-16      zvxzVr8  1112462207          1
3192077  2018-04-16      zvxzrWm  1112408569          1
3192078  2018-04-16      zvxzrWm  1112438823          2
3192079  2018-04-16      zvxzrWm  1112455515          2
3192080  2018-04-16      zvxzrWm  1112464736          1
3192081  2018-04-16      zvxzrWm  1112466801          1

[3192082 rows x 4 columns]>

In [39]:
#vistasGroupedFinal = vistasGrouped.drop('timeVista',axis=1)

In [22]:
vistasGrouped['cantidadVistas'] = vistasGrouped['timestamp'];
vistasGrouped.drop('timestamp',axis=1,inplace=True)
vistasForMerge = vistasGrouped[['idpostulante','idAviso']]

# Generamos archivos con avisos no vistos

In [472]:
import datetime as dt

def generoNOAvisos(cantParaArmar):
    sumaNoPostulados = pd.DataFrame();
    for i in range(int(cantParaArmar)):
        print("--------------------- Iteracion de sample " + str(i) +" de "+ str(cantParaArmar) +"---------");
        vistasSample = vistasForMerge.sample(frac=0.1);
        postulacionesSample = avisosPostuladosGP.sample(frac=0.1);

        avisosNoVistos = pd.merge(postulacionesSample,vistasSample,left_on='idaviso',right_on='idAviso',how='right', indicator=True)
        avisosNoVistosPosta = avisosNoVistos[avisosNoVistos['_merge'] == 'right_only']
        avisosNoVistosFinal = avisosNoVistosPosta.drop(['idpostulante_x','cantPostulaciones','_merge'],axis=1)
        avisosNoVistosFinal['idaviso'] = avisosNoVistosFinal['idAviso'];
        avisosNoVistosFinal['idpostulante'] = avisosNoVistosFinal['idpostulante_y'];
        avisosNoVistosFinal.drop(['idpostulante_y','idAviso'],axis=1,inplace=True);
        sumaNoPostulados = pd.concat([sumaNoPostulados,avisosNoVistosFinal])
    return sumaNoPostulados;


def generoArchivosNOPostulado(cantArchivos,cantInicial,cantIteracionesPorArhivo):
    print("--- HORA DE INICIO PROCESO TOTAL "+ str(dt.datetime.now()) + "-----");
    var hasta = int(cantArchivos) + int(cantInicial);
    for i in range(int(cantInicial),hasta):
        print("---------- Generando archivos " + str(i) +" de "+ str(cantArchivos) +"-------");
        print("---------- HORA DE INICIO "+ str(dt.datetime.now()) + "-------");
        sumaTotalNoAvisos = generoNOAvisos(int(cantIteracionesPorArhivo));
        sumaTotalNoAvisosSinDuplicados = sumaTotalNoAvisos.drop_duplicates().reset_index()
        sumaTotalNoAvisosSinDuplicados['sepostulo'] = 0
        sumaTotalNoAvisosSinDuplicados = sumaTotalNoAvisosSinDuplicados[['idpostulante','idaviso','sepostulo']]
        sumaTotalNoAvisosSinDuplicados.to_csv('nopostulados/nopostulados-'+str(i)+'.csv');
        print("---------- HORA DE FIN "+ str(dt.datetime.now()) + "--------------------------");
    print("--- HORA DE FIN PROCESO TOTAL "+ str(dt.datetime.now()) + "-----");

In [1043]:
##Llamamos proceso

generoArchivosNOPostulado(20,15,20);

--- HORA DE INICIO PROCESO TOTAL 2018-06-22 01:34:19.238586-----
---------- Generando archivos 15 de 20-------
---------- HORA DE INICIO 2018-06-22 01:34:19.238586-------
--------------------- Iteracion de sample 0 de 20---------
--------------------- Iteracion de sample 1 de 20---------
--------------------- Iteracion de sample 2 de 20---------
--------------------- Iteracion de sample 3 de 20---------
--------------------- Iteracion de sample 4 de 20---------
--------------------- Iteracion de sample 5 de 20---------
--------------------- Iteracion de sample 6 de 20---------
--------------------- Iteracion de sample 7 de 20---------
--------------------- Iteracion de sample 8 de 20---------
--------------------- Iteracion de sample 9 de 20---------
--------------------- Iteracion de sample 10 de 20---------
--------------------- Iteracion de sample 11 de 20---------
--------------------- Iteracion de sample 12 de 20---------
--------------------- Iteracion de sample 13 de 20---------
--------------------- Iteracion de sample 14 de 20---------
--------------------- Iteracion de sample 15 de 20---------
--------------------- Iteracion de sample 16 de 20---------
--------------------- Iteracion de sample 17 de 20---------
--------------------- Iteracion de sample 18 de 20---------
--------------------- Iteracion de sample 19 de 20---------
---------- HORA DE FIN 2018-06-22 01:41:14.952764--------------------------
---------- Generando archivos 16 de 20-------
---------- HORA DE INICIO 2018-06-22 01:41:14.952764-------
--------------------- Iteracion de sample 0 de 20---------
--------------------- Iteracion de sample 1 de 20---------
--------------------- Iteracion de sample 2 de 20---------
--------------------- Iteracion de sample 3 de 20---------
--------------------- Iteracion de sample 4 de 20---------
--------------------- Iteracion de sample 5 de 20---------
--------------------- Iteracion de sample 6 de 20---------
--------------------- Iteracion de sample 7 de 20---------
--------------------- Iteracion de sample 8 de 20---------
--------------------- Iteracion de sample 9 de 20---------
--------------------- Iteracion de sample 10 de 20---------
--------------------- Iteracion de sample 11 de 20---------
--------------------- Iteracion de sample 12 de 20---------
--------------------- Iteracion de sample 13 de 20---------
--------------------- Iteracion de sample 14 de 20---------
--------------------- Iteracion de sample 15 de 20---------
--------------------- Iteracion de sample 16 de 20---------
--------------------- Iteracion de sample 17 de 20---------
--------------------- Iteracion de sample 18 de 20---------
--------------------- Iteracion de sample 19 de 20---------
---------- HORA DE FIN 2018-06-22 01:47:55.127906--------------------------
---------- Generando archivos 17 de 20-------
---------- HORA DE INICIO 2018-06-22 01:47:55.127906-------
--------------------- Iteracion de sample 0 de 20---------
--------------------- Iteracion de sample 1 de 20---------
--------------------- Iteracion de sample 2 de 20---------
--------------------- Iteracion de sample 3 de 20---------
--------------------- Iteracion de sample 4 de 20---------
--------------------- Iteracion de sample 5 de 20---------
--------------------- Iteracion de sample 6 de 20---------
--------------------- Iteracion de sample 7 de 20---------
--------------------- Iteracion de sample 8 de 20---------
--------------------- Iteracion de sample 9 de 20---------
--------------------- Iteracion de sample 10 de 20---------
--------------------- Iteracion de sample 11 de 20---------
--------------------- Iteracion de sample 12 de 20---------
--------------------- Iteracion de sample 13 de 20---------
--------------------- Iteracion de sample 14 de 20---------
--------------------- Iteracion de sample 15 de 20---------
--------------------- Iteracion de sample 16 de 20---------
--------------------- Iteracion de sample 17 de 20---------
--------------------- Iteracion de sample 18 de 20---------
--------------------- Iteracion de sample 19 de 20---------
---------- HORA DE FIN 2018-06-22 01:54:33.026174--------------------------
---------- Generando archivos 18 de 20-------
---------- HORA DE INICIO 2018-06-22 01:54:33.027145-------
--------------------- Iteracion de sample 0 de 20---------
--------------------- Iteracion de sample 1 de 20---------
--------------------- Iteracion de sample 2 de 20---------
--------------------- Iteracion de sample 3 de 20---------
--------------------- Iteracion de sample 4 de 20---------
--------------------- Iteracion de sample 5 de 20---------
--------------------- Iteracion de sample 6 de 20---------
--------------------- Iteracion de sample 7 de 20---------
--------------------- Iteracion de sample 8 de 20---------
--------------------- Iteracion de sample 9 de 20---------
--------------------- Iteracion de sample 10 de 20---------
--------------------- Iteracion de sample 11 de 20---------
--------------------- Iteracion de sample 12 de 20---------
--------------------- Iteracion de sample 13 de 20---------
--------------------- Iteracion de sample 14 de 20---------
--------------------- Iteracion de sample 15 de 20---------
--------------------- Iteracion de sample 16 de 20---------
--------------------- Iteracion de sample 17 de 20---------
--------------------- Iteracion de sample 18 de 20---------
--------------------- Iteracion de sample 19 de 20---------
---------- HORA DE FIN 2018-06-22 02:01:13.290564--------------------------
---------- Generando archivos 19 de 20-------
---------- HORA DE INICIO 2018-06-22 02:01:13.290564-------
--------------------- Iteracion de sample 0 de 20---------
--------------------- Iteracion de sample 1 de 20---------
--------------------- Iteracion de sample 2 de 20---------
--------------------- Iteracion de sample 3 de 20---------
--------------------- Iteracion de sample 4 de 20---------
--------------------- Iteracion de sample 5 de 20---------
--------------------- Iteracion de sample 6 de 20---------
--------------------- Iteracion de sample 7 de 20---------
--------------------- Iteracion de sample 8 de 20---------
--------------------- Iteracion de sample 9 de 20---------
--------------------- Iteracion de sample 10 de 20---------
--------------------- Iteracion de sample 11 de 20---------
--------------------- Iteracion de sample 12 de 20---------
--------------------- Iteracion de sample 13 de 20---------
--------------------- Iteracion de sample 14 de 20---------
--------------------- Iteracion de sample 15 de 20---------
--------------------- Iteracion de sample 16 de 20---------
--------------------- Iteracion de sample 17 de 20---------
--------------------- Iteracion de sample 18 de 20---------
--------------------- Iteracion de sample 19 de 20---------
---------- HORA DE FIN 2018-06-22 02:07:53.014428--------------------------
--- HORA DE FIN PROCESO TOTAL 2018-06-22 02:07:53.014428-----

In [24]:
avisosNoPostulado = pd.DataFrame();
for i in range(0,15):
    noPostulado = pd.read_csv('nopostulados/nopostulados-'+str(i)+'.csv')
    avisosNoPostulado = pd.concat([noPostulado,avisosNoPostulado]);

avisosNoPostulado.drop('Unnamed: 0',axis=1,inplace=True)
avisosNoPostulado = avisosNoPostulado.drop_duplicates()

In [26]:
nopostulados = avisosNoPostulado[['idpostulante','idaviso','sepostulo']];

In [27]:
avisosPostuladosGP['sepostulo'] = 1

In [28]:
avisosSample = avisosPostuladosGP.sample(frac=0.1)

In [29]:
datosMergeados = pd.concat([nopostulados,avisosSample])

In [30]:
datosMergeados = datosMergeados.fillna(0)

# Unimos con avisos con sus detalles

In [31]:
datosMergeadosConDetalle = pd.merge(datosMergeados,avisosDetalle,how='inner',on='idaviso');
datosMergeadosConDetalleFiltered = datosMergeadosConDetalle.drop(['titulo','descripcion','ciudad','mapacalle','nombre_area'],axis=1)

In [32]:
datosOHC = pd.concat([datosMergeadosConDetalleFiltered,pd.get_dummies(datosMergeadosConDetalleFiltered['nombre_zona'], prefix='zona')],axis=1)
datosOHC = pd.concat([datosOHC,pd.get_dummies(datosOHC['tipo_de_trabajo'], prefix='tipo')],axis=1)
datosOHC = pd.concat([datosOHC,pd.get_dummies(datosOHC['nivel_laboral'], prefix='nivel')],axis=1)

datosOHC.drop(['nivel_laboral','tipo_de_trabajo','nombre_zona'],axis=1,inplace=True)

In [33]:
datosOHC['denominacion_empresa'].fillna('S/E', inplace=True)
datosOHC = pd.merge(datosOHC,cantAvisosPorEmpresa,how='inner',on='denominacion_empresa')
datosOHC.drop('denominacion_empresa',axis=1,inplace=True);

In [34]:
datosForTraining = datosOHC.drop(['sepostulo','idaviso','idpostulante'],axis=1)

# Probamos algoritmo

In [38]:
import pandas
from sklearn import model_selection
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import RadiusNeighborsRegressor
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn import linear_model
from sklearn import svm
from sklearn import tree
from sklearn import gaussian_process
from sklearn import neural_network
from sklearn.linear_model import LinearRegression, LogisticRegression



#Pre-procesamiento
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [39]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTraining, datosOHC['sepostulo'], test_size=0.7, random_state=7)

In [40]:
models = []
models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
models.append(('LR', linear_model.LinearRegression()))
models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
models.append(('BAYESIAN',linear_model.BayesianRidge()))
models.append(('SVR',svm.LinearSVR()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('MLP',tree.DecisionTreeRegressor()))
models.append(('NB', GaussianNB()))
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
 
TestModels = pd.DataFrame()
tmp = {}

results = []
names = []
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=7)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, scoring='r2')
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

RF10: 0.999927 (0.000036)
RF20: 0.999960 (0.000013)
RF50: 0.999966 (0.000009)
RF60: 0.999972 (0.000008)
KNN 2: 0.980356 (0.002552)
KNN 3: 0.978372 (0.001242)
LR: 0.999062 (0.000606)
RIDGE.05: 0.999062 (0.000606)
LASO.01: 0.999062 (0.000606)
LASOLARS.05: -0.000027 (0.000019)
BAYESIAN: 0.999062 (0.000606)
SVR: 0.999052 (0.000616)
DES-TREE: 1.000000 (0.000000)
MLP: 1.000000 (0.000000)
NB: -0.175106 (0.000010)
LR: -0.175106 (0.000010)

C:\Users\nicol\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\nicol\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

LDA: 1.000000 (0.000000)

C:\Users\nicol\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [195]:
models = []
models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
models.append(('LR', linear_model.LinearRegression()))
models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
models.append(('BAYESIAN',linear_model.BayesianRidge()))
models.append(('SVR',svm.LinearSVR()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('MLP',tree.DecisionTreeRegressor()))
models.append(('NB', GaussianNB()))
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
 
TestModels = pd.DataFrame()
tmp = {}

results = []
names = []
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=7)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, scoring='r2')
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

RF10: 0.999965 (0.000003)
RF20: 0.999986 (0.000006)
RF50: 0.999991 (0.000004)
RF60: 0.999993 (0.000002)
KNN 2: 0.992723 (0.000696)
KNN 3: 0.991316 (0.000391)
LR: 0.999623 (0.000216)
RIDGE.05: 0.999623 (0.000215)
LASO.01: 0.999623 (0.000216)
LASOLARS.05: -0.000000 (0.000000)
BAYESIAN: 0.999623 (0.000216)
SVR: 0.999617 (0.000218)
DES-TREE: 1.000000 (0.000000)
MLP: 1.000000 (0.000000)
NB: 0.747843 (0.001135)
LR: -0.740777 (0.020453)

C:\Users\nicol\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\nicol\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

LDA: 1.000000 (0.000000)

C:\Users\nicol\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

# Training Set

In [41]:
testingSet = pd.read_csv('resources/test_final_100k.csv')

In [200]:
testingSet.columns

Index(['id', 'idaviso', 'idpostulante'], dtype='object')

In [42]:
testingSet['testSet'] =1;
datosMergeados['testSet'] = 0;

In [43]:
datosMergeadosConDetalle = pd.merge(datosMergeados,avisosDetalle,how='inner',on='idaviso');
testingSetConDetalle = pd.merge(testingSet,avisosDetallesCompletos,how='left',on='idaviso');
#
#
datosConTestSet = pd.concat([datosMergeadosConDetalle,testingSetConDetalle]);
datosConTestSetFiltrado = datosConTestSet.drop(['titulo','descripcion','ciudad','mapacalle','nombre_area'],axis=1)

In [44]:
datosConTestOHC = pd.concat([datosConTestSetFiltrado,pd.get_dummies(datosConTestSetFiltrado['nombre_zona'], prefix='zona')],axis=1)
datosConTestOHC = pd.concat([datosConTestOHC,pd.get_dummies(datosConTestOHC['tipo_de_trabajo'], prefix='tipo')],axis=1)
datosConTestOHC = pd.concat([datosConTestOHC,pd.get_dummies(datosConTestOHC['nivel_laboral'], prefix='nivel')],axis=1)

datosConTestOHC.drop(['nivel_laboral','tipo_de_trabajo','nombre_zona'],axis=1,inplace=True)

In [45]:
datosConTestOHC['denominacion_empresa'].fillna('S/E', inplace=True)
datosConTestOHC = pd.merge(datosConTestOHC,cantAvisosPorEmpresa,how='left',on='denominacion_empresa')
datosConTestOHC.drop('denominacion_empresa',axis=1,inplace=True);

In [46]:
datosForTraining = datosConTestOHC[datosConTestOHC['testSet'] == 0]
datosForTest = datosConTestOHC[datosConTestOHC['testSet'] == 1]

In [47]:
datosForTrainingSinPostu = datosForTraining.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet'],axis=1)

In [48]:
datosForTestFinal = datosForTest.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet'],axis=1)

In [350]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosForTrainingSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(datosForTestFinal)

In [353]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, datosForTraining['sepostulo'], test_size=0.7, random_state=7)

In [357]:
models = []
models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
models.append(('LR', linear_model.LinearRegression()))
models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
#models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
models.append(('BAYESIAN',linear_model.BayesianRidge()))
models.append(('SVR',svm.LinearSVR()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('MLP',tree.DecisionTreeRegressor()))
models.append(('NB', GaussianNB()))
#models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))



for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba5-'+ name +'.csv', index=False)

C:\Users\nicol\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

# Agregamos genero y Estudios

In [50]:
#Cargamos datasets

postulantesEducacion = pd.read_csv('resources/tar/fiuba_1_postulantes_educacion.csv')
postulantesGenero = pd.read_csv('resources/tar/fiuba_2_postulantes_genero_y_edad.csv')

postulantesEducacionZip = pd.read_csv('resources/zip/fiuba_1_postulantes_educacion.csv')
postulantesGeneroZip = pd.read_csv('resources/zip/fiuba_2_postulantes_genero_y_edad.csv')

In [51]:
educacionTodas = pd.concat([postulantesEducacion,postulantesEducacionZip])
generoTodas = pd.concat([postulantesGenero,postulantesGeneroZip])

In [52]:
import datetime as dt

generoTodas['fechanacimiento'] = pd.to_datetime(generoTodas['fechanacimiento'], format='%Y-%m-%d', errors='coerce')
generoTodas = generoTodas.dropna(subset=['fechanacimiento'])

hoy = pd.Timestamp(dt.datetime.now())
generoTodas['edad'] = (hoy - generoTodas['fechanacimiento']).astype('<m8[Y]')

In [53]:
generoTodasFiltered = generoTodas.loc[((generoTodas['edad'] >= 17) & (generoTodas['edad'] < 80 )), :]

In [54]:
postulantesGeneroOHC = pd.concat([generoTodasFiltered,pd.get_dummies(generoTodasFiltered['sexo'], prefix='sexo')],axis=1)
postulantesGeneroOHC = postulantesGeneroOHC[postulantesGeneroOHC['sexo_0.0'] == 0]
postulantesGeneroOHC = postulantesGeneroOHC[['idpostulante','sexo_FEM','sexo_MASC','sexo_NO_DECLARA','edad']]

postulantesGeneroOHC.drop_duplicates(subset='idpostulante',inplace=True)

# CAMBIAR FORMA DE TRABAJAR LA EDUCACION

In [401]:
postulantesEducacionOHC = pd.concat([educacionTodas,pd.get_dummies(educacionTodas['estado'], prefix='estado')],axis=1)
postulantesEducacionOHC = pd.concat([postulantesEducacionOHC,pd.get_dummies(postulantesEducacionOHC['nombre'], prefix='nombre')],axis=1)

postulantesEducacionOHC.drop(['nombre'],axis=1, inplace=True)
postulantesEducacionOHC.drop(['estado'],axis=1, inplace=True)

In [440]:
postulantesEducacionOHCGP = postulantesEducacionOHC.groupby('idpostulante').sum()
postulantesEducacionOHCGP = postulantesEducacionOHCGP.reset_index()

In [454]:
##CARGO LOS ELEMENTOS DEL TEST ANTERIOR
#datosForTraining
#datosForTest

datosForTraining = datosConTestOHC[datosConTestOHC['testSet'] == 0]
datosForTest = datosConTestOHC[datosConTestOHC['testSet'] == 1]

In [455]:
datosForTrainingConEducacion = pd.merge(datosForTraining,postulantesEducacionOHCGP,on='idpostulante',how='inner')
datosForTrainingConTodo = pd.merge(datosForTrainingConEducacion,postulantesGeneroOHC,on='idpostulante',how='inner')

In [456]:
datosForTestConEducacion = pd.merge(datosForTest,postulantesEducacionOHCGP,on='idpostulante',how='left')
datosForTestConTodo = pd.merge(datosForTestConEducacion,postulantesGeneroOHC,on='idpostulante',how='left')

In [457]:
datosForTestConTodo.info

<bound method DataFrame.info of        cantPostulaciones       id     idaviso  idpais idpostulante  sepostulo  \
0                    NaN      0.0      739260     1.0       6M9ZQR        NaN
1                    NaN      1.0      739260     1.0       6v1xdL        NaN
2                    NaN      2.0      739260     1.0       ezRKm9        NaN
3                    NaN      3.0      758580     1.0       1Q35ej        NaN
4                    NaN      4.0      758580     1.0       EAN4J6        NaN
5                    NaN      5.0      758580     1.0       8R6pzR        NaN
6                    NaN      6.0      776420     1.0       aZJ2XN        NaN
7                    NaN      7.0      776420     1.0       Nmpo3J        NaN
8                    NaN      8.0      776420     1.0       eVqWar        NaN
9                    NaN      9.0      820850     1.0       6ZBD33        NaN
10                   NaN     10.0      820850     1.0       1j4RNj        NaN
11                   NaN     11.0      820850     1.0        ZOwE8        NaN
12                   NaN     12.0      820850     1.0       NG4BaD        NaN
13                   NaN     13.0      914880     1.0       6q6eNl        NaN
14                   NaN     14.0      914880     1.0       8E8pWj        NaN
15                   NaN     15.0      914880     1.0       eVqbDr        NaN
16                   NaN     16.0     1112360     1.0       6kRZ44        NaN
17                   NaN     17.0     1112360     1.0       8XGB3D        NaN
18                   NaN     18.0     1112360     1.0       5qVB9X        NaN
19                   NaN     19.0     1112360     1.0       Z6zxXZ        NaN
20                   NaN     20.0     1141070     1.0       edaNB4        NaN
21                   NaN     21.0     1141070     1.0       EZ9pe6        NaN
22                   NaN     22.0     1141070     1.0       aXa55D        NaN
23                   NaN     23.0     1144960     1.0       NEJjvL        NaN
24                   NaN     24.0     1144960     1.0       6Q32Vj        NaN
25                   NaN     25.0     1144960     1.0       NWxrWL        NaN
26                   NaN     26.0     1145170     1.0       Y9d5Bw        NaN
27                   NaN     27.0     1145170     1.0       edaoDp        NaN
28                   NaN     28.0     1145170     1.0       Z8pvLz        NaN
29                   NaN     29.0     1176260     1.0       ZvQJ2z        NaN
...                  ...      ...         ...     ...          ...        ...
99970                NaN  99970.0  1112515048     1.0       EbooLJ        NaN
99971                NaN  99971.0  1112515048     1.0       Zv1eoY        NaN
99972                NaN  99972.0  1112515048     1.0       YqJLDw        NaN
99973                NaN  99973.0  1112515056     1.0       8RODvz        NaN
99974                NaN  99974.0  1112515056     1.0       50p1Zp        NaN
99975                NaN  99975.0  1112515056     1.0       aZJQP9        NaN
99976                NaN  99976.0  1112515069     1.0       eZ8294        NaN
99977                NaN  99977.0  1112515069     1.0       NROBQ4        NaN
99978                NaN  99978.0  1112515069     1.0       a8YdG9        NaN
99979                NaN  99979.0  1112515080     1.0       8EQpWl        NaN
99980                NaN  99980.0  1112515080     1.0       ZREM3E        NaN
99981                NaN  99981.0  1112515080     1.0       NDaAYJ        NaN
99982                NaN  99982.0  1112515081     1.0       EwKNO6        NaN
99983                NaN  99983.0  1112515081     1.0       aZJWvq        NaN
99984                NaN  99984.0  1112515081     1.0       8R4ZBz        NaN
99985                NaN  99985.0  1112515099     1.0       eprYVE        NaN
99986                NaN  99986.0  1112515099     1.0       8E8lLW        NaN
99987                NaN  99987.0  1112515099     1.0       Z0A84P        NaN
99988                NaN  99988.0  1112515103     1.0       Y6xQ4q        NaN
99989                NaN  99989.0  1112515103     1.0       NRO8wz        NaN
99990                NaN  99990.0  1112515103     1.0       ZvQaaY        NaN
99991                NaN  99991.0  1112515105     1.0       ZREdK1        NaN
99992                NaN  99992.0  1112515105     1.0       NmpeRJ        NaN
99993                NaN  99993.0  1112515105     1.0       5RVLZv        NaN
99994                NaN  99994.0  1112515111     1.0       YqJDoD        NaN
99995                NaN  99995.0  1112515111     1.0       5RVZBp        NaN
99996                NaN  99996.0  1112515111     1.0       ZvQXN1        NaN
99997                NaN  99997.0  1112515116     1.0       NmpwAB        NaN
99998                NaN  99998.0  1112515116     1.0       aZJMqJ        NaN
99999                NaN  99999.0  1112515116     1.0       8R48Ex        NaN

       testSet  zona_Buenos Aires (fuera de GBA)  zona_Capital Federal  \
0            1                                 0                     1
1            1                                 0                     1
2            1                                 0                     1
3            1                                 0                     1
4            1                                 0                     1
5            1                                 0                     1
6            1                                 0                     1
7            1                                 0                     1
8            1                                 0                     1
9            1                                 1                     0
10           1                                 1                     0
11           1                                 1                     0
12           1                                 1                     0
13           1                                 0                     1
14           1                                 0                     1
15           1                                 0                     1
16           1                                 0                     1
17           1                                 0                     1
18           1                                 0                     1
19           1                                 0                     1
20           1                                 1                     0
21           1                                 1                     0
22           1                                 1                     0
23           1                                 1                     0
24           1                                 1                     0
25           1                                 1                     0
26           1                                 0                     1
27           1                                 0                     1
28           1                                 0                     1
29           1                                 0                     1
...        ...                               ...                   ...
99970        1                                 0                     0
99971        1                                 0                     0
99972        1                                 0                     0
99973        1                                 0                     0
99974        1                                 0                     0
99975        1                                 0                     0
99976        1                                 0                     0
99977        1                                 0                     0
99978        1                                 0                     0
99979        1                                 0                     1
99980        1                                 0                     1
99981        1                                 0                     1
99982        1                                 0                     0
99983        1                                 0                     0
99984        1                                 0                     0
99985        1                                 0                     0
99986        1                                 0                     0
99987        1                                 0                     0
99988        1                                 0                     0
99989        1                                 0                     0
99990        1                                 0                     0
99991        1                                 0                     0
99992        1                                 0                     0
99993        1                                 0                     0
99994        1                                 0                     0
99995        1                                 0                     0
99996        1                                 0                     0
99997        1                                 0                     0
99998        1                                 0                     0
99999        1                                 0                     0

       zona_Catamarca  ...   nombre_Otro  nombre_Posgrado  nombre_Secundario  \
0                   0  ...           0.0              0.0                0.0
1                   0  ...           2.0              0.0                0.0
2                   0  ...           0.0              0.0                0.0
3                   0  ...           0.0              1.0                0.0
4                   0  ...           0.0              0.0                0.0
5                   0  ...           0.0              0.0                2.0
6                   0  ...           0.0              0.0                0.0
7                   0  ...           0.0              0.0                0.0
8                   0  ...           0.0              0.0                0.0
9                   0  ...           0.0              2.0                0.0
10                  0  ...           0.0              0.0                1.0
11                  0  ...           0.0              2.0                0.0
12                  0  ...           0.0              0.0                2.0
13                  0  ...           0.0              0.0                0.0
14                  0  ...           0.0              0.0                0.0
15                  0  ...           0.0              0.0                0.0
16                  0  ...           0.0              0.0                0.0
17                  0  ...           0.0              0.0                0.0
18                  0  ...           0.0              0.0                0.0
19                  0  ...           0.0              0.0                2.0
20                  0  ...           0.0              0.0                0.0
21                  0  ...           0.0              0.0                0.0
22                  0  ...           0.0              0.0                1.0
23                  0  ...           0.0              0.0                0.0
24                  0  ...           0.0              0.0                0.0
25                  0  ...           0.0              0.0                0.0
26                  0  ...           NaN              NaN                NaN
27                  0  ...           0.0              4.0                0.0
28                  0  ...           0.0              0.0                0.0
29                  0  ...           0.0              0.0                0.0
...               ...  ...           ...              ...                ...
99970               0  ...           0.0              0.0                0.0
99971               0  ...           0.0              1.0                0.0
99972               0  ...           1.0              0.0                1.0
99973               0  ...           0.0              1.0                0.0
99974               0  ...           0.0              2.0                0.0
99975               0  ...           0.0              2.0                0.0
99976               0  ...           0.0              0.0                0.0
99977               0  ...           0.0              0.0                0.0
99978               0  ...           NaN              NaN                NaN
99979               0  ...           0.0              0.0                0.0
99980               0  ...           0.0              0.0                1.0
99981               0  ...           0.0              0.0                0.0
99982               0  ...           0.0              0.0                0.0
99983               0  ...           0.0              0.0                0.0
99984               0  ...           0.0              0.0                0.0
99985               0  ...           0.0              0.0                0.0
99986               0  ...           0.0              0.0                1.0
99987               0  ...           0.0              0.0                0.0
99988               0  ...           0.0              0.0                2.0
99989               0  ...           0.0              0.0                1.0
99990               0  ...           0.0              1.0                0.0
99991               0  ...           0.0              0.0                1.0
99992               0  ...           0.0              0.0                0.0
99993               0  ...           0.0              0.0                2.0
99994               0  ...           0.0              0.0                0.0
99995               0  ...           0.0              0.0                2.0
99996               0  ...           0.0              0.0                0.0
99997               0  ...           0.0              0.0                1.0
99998               0  ...           0.0              0.0                0.0
99999               0  ...           0.0              0.0                1.0

       nombre_Terciario/Técnico  nombre_Universitario  fechanacimiento  \
0                           0.0                   2.0       1976-03-29
1                           1.0                   0.0       1987-06-27
2                           0.0                   2.0       1982-02-17
3                           0.0                   1.0       1949-12-24
4                           1.0                   2.0       1986-05-27
5                           0.0                   2.0       1990-05-29
6                           0.0                   2.0       1989-01-23
7                           4.0                   0.0       1964-02-13
8                           0.0                   1.0       1990-04-09
9                           0.0                   2.0       1980-09-18
10                          0.0                   0.0       1987-04-12
11                          0.0                   2.0       1979-10-22
12                          0.0                   0.0       1990-03-18
13                          4.0                   0.0       1972-12-12
14                          1.0                   0.0       1981-01-20
15                          0.0                   2.0       1983-03-25
16                          0.0                   1.0       1976-03-18
17                          0.0                   2.0       1986-11-01
18                          0.0                   2.0       1977-08-29
19                          0.0                   0.0       1980-05-16
20                          2.0                   0.0       1984-06-29
21                          0.0                   2.0       1983-02-03
22                          0.0                   0.0       1984-05-02
23                          0.0                   1.0       1986-03-17
24                          0.0                   1.0       1980-07-04
25                          0.0                   2.0       1965-04-01
26                          NaN                   NaN       1987-03-04
27                          0.0                   2.0       1975-10-24
28                          0.0                   4.0       1971-05-12
29                          0.0                   1.0       1978-05-04
...                         ...                   ...              ...
99970                       0.0                   1.0       1986-07-19
99971                       0.0                   1.0       1970-12-25
99972                       0.0                   1.0       1983-01-07
99973                       1.0                   1.0       1990-01-18
99974                       0.0                   2.0       1976-04-22
99975                       0.0                   2.0       1984-10-27
99976                       1.0                   0.0       1985-02-02
99977                       0.0                   1.0       1986-05-13
99978                       NaN                   NaN       1956-07-06
99979                       0.0                   1.0       1980-05-20
99980                       1.0                   0.0       1980-12-11
99981                       0.0                   1.0       1989-05-16
99982                       0.0                   2.0       1977-05-23
99983                       0.0                   4.0       1988-05-01
99984                       2.0                   2.0       1983-03-03
99985                       0.0                   2.0       1987-08-24
99986                       0.0                   4.0       1984-11-04
99987                       2.0                   0.0       1984-06-28
99988                       0.0                   0.0              NaT
99989                       0.0                   0.0       1987-11-19
99990                       0.0                   1.0       1981-11-13
99991                       0.0                   1.0       1986-11-02
99992                       0.0                   1.0       1971-03-25
99993                       0.0                   0.0       1986-04-14
99994                       2.0                   2.0       1976-09-25
99995                       0.0                   2.0       1978-08-30
99996                       0.0                   1.0       1979-12-26
99997                       1.0                   1.0       1977-07-22
99998                       2.0                   2.0       1986-08-12
99999                       0.0                   0.0       1973-10-12

       sexo_FEM  sexo_MASC  sexo_NO_DECLARA  edad
0           1.0        0.0              0.0  42.0
1           0.0        1.0              0.0  30.0
2           1.0        0.0              0.0  36.0
3           0.0        1.0              0.0  68.0
4           1.0        0.0              0.0  32.0
5           0.0        1.0              0.0  28.0
6           0.0        1.0              0.0  29.0
7           0.0        1.0              0.0  54.0
8           1.0        0.0              0.0  28.0
9           0.0        1.0              0.0  37.0
10          1.0        0.0              0.0  31.0
11          1.0        0.0              0.0  38.0
12          1.0        0.0              0.0  28.0
13          0.0        1.0              0.0  45.0
14          1.0        0.0              0.0  37.0
15          1.0        0.0              0.0  35.0
16          1.0        0.0              0.0  42.0
17          1.0        0.0              0.0  31.0
18          1.0        0.0              0.0  40.0
19          1.0        0.0              0.0  38.0
20          1.0        0.0              0.0  33.0
21          1.0        0.0              0.0  35.0
22          0.0        1.0              0.0  34.0
23          0.0        1.0              0.0  32.0
24          0.0        1.0              0.0  37.0
25          0.0        1.0              0.0  53.0
26          0.0        1.0              0.0  31.0
27          1.0        0.0              0.0  42.0
28          0.0        1.0              0.0  47.0

In [458]:
datosForTrainingSinPostu = datosForTrainingConTodo.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet'],axis=1)

In [459]:
datosForTestConTodoFiltrado = datosForTestConTodo.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet'],axis=1)

In [460]:
datosForTestConTodoFiltrado.columns.size

46

In [461]:
datosForTrainingSinPostu.columns.size

46

In [464]:
datosForTrainingSinPostu.drop('fechanacimiento',axis=1,inplace=True)

In [463]:
datosForTestConTodoFiltrado.drop('fechanacimiento',axis=1,inplace=True)

In [465]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosForTrainingSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(datosForTestConTodoFiltrado)

In [466]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, datosForTrainingConTodo['sepostulo'], test_size=0.7, random_state=7)

In [469]:
models = []
#models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
#models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
#models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
#models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
#models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
#models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
#models.append(('LR', linear_model.LinearRegression()))
#models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
#models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
#models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
#models.append(('BAYESIAN',linear_model.BayesianRidge()))
#models.append(('SVR',svm.LinearSVR()))
#models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
#models.append(('NB', GaussianNB()))
#models.append(('LR', LogisticRegression()))
#models.append(('LDA', LinearDiscriminantAnalysis()))



for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba6-'+ name +'.csv', index=False)

#  Agregamos la cantidad de vistas de un aviso

In [55]:
vistasZIP = pd.read_csv('resources/zip/fiuba_3_vistas.csv')

In [56]:
vistasZIP['timestamp'] = pd.to_datetime(vistasZIP['timestamp'])
vistasZIP['dateVista'] = pd.DatetimeIndex(vistasZIP['timestamp']).date

In [57]:
vistasZIP['cantidadVistos'] = 1;
vistasZIP.drop('timestamp',axis=1,inplace=True)

In [58]:
vistasZIPGP = vistasZIP.groupby(['idAviso','idpostulante']).sum()

In [59]:
vistasZIPGP.head(20)

                      cantidadVistos
idAviso idpostulante
18      BolNL                      3
48375   RwVdKR                     1
169730  1KjXB                      2
        2AKzxa                     2
        6LJ64                      1
        6kr39v                     1
        9VzdP                      3
        9zGM9                      1
        BVvYz                      1
        GzQZaK                     1
        JOYa2J                     2
        LLBE5                      2
        Lm2Zkb                     3
        MNGJOx                     1
        NwbWx                      2
        QdQ5A4                     2
        Qddmqe                     1
        RwBL9Y                     2
        VBprEN                     1
        Y0qD8J                     1

In [60]:
vistasZIPGP = vistasZIPGP.reset_index()

In [61]:
vistas['cantidadVistos'] =1;

In [62]:
vistasGP = vistas.groupby(['idAviso','idpostulante']).sum()

In [63]:
vistasGP = vistasGP.reset_index()

In [64]:
datosForTraining = datosConTestOHC[datosConTestOHC['testSet'] == 0]
datosForTest = datosConTestOHC[datosConTestOHC['testSet'] == 1]

In [65]:
vistasGP['idaviso']  = vistasGP['idAviso']
vistasGP.drop('idAviso',axis=1,inplace=True);

In [66]:
vistasZIPGP['idaviso']  = vistasZIPGP['idAviso']
vistasZIPGP.drop('idAviso',axis=1,inplace=True);

In [501]:
datosForTraining.columns

Index(['cantPostulaciones', 'id', 'idaviso', 'idpais', 'idpostulante',
       'sepostulo', 'testSet', 'zona_Buenos Aires (fuera de GBA)',
       'zona_Capital Federal', 'zona_Catamarca', 'zona_Ciudad de Mendoza',
       'zona_Cordoba', 'zona_Corrientes', 'zona_GBA Oeste',
       'zona_Gran Buenos Aires', 'zona_La Plata', 'zona_Mendoza',
       'zona_Neuquen', 'zona_Rosario', 'zona_San Juan', 'zona_Santa Cruz',
       'zona_Santa Fe', 'zona_Tucuman', 'tipo_Fines de Semana',
       'tipo_Full-time', 'tipo_Part-time', 'tipo_Pasantia',
       'tipo_Por Contrato', 'tipo_Por Horas', 'tipo_Primer empleo',
       'tipo_Teletrabajo', 'tipo_Temporario',
       'nivel_Gerencia / Alta Gerencia / Dirección',
       'nivel_Jefe / Supervisor / Responsable', 'nivel_Junior', 'nivel_Otro',
       'nivel_Senior / Semi-Senior', 'cantidadEmpresa'],
      dtype='object')

In [67]:
datosConVistas = pd.merge(datosForTraining, vistasGP,on=['idaviso','idpostulante'],how='inner')

In [68]:
testingConVistas = pd.merge(datosForTest,vistasZIPGP,on=['idaviso','idpostulante'],how='left')

In [69]:
testingConVistas['cantidadVistos'] = testingConVistas['cantidadVistos'].fillna(0)

In [70]:
testingConVistas['cantidadVistos'].unique()

array([  0.,   1.,   2.,   5.,   3.,   4.,   7.,   6.,   8.,  10.,  12.,
        21.,  15.,   9.,  14.,  13.,  38.,  16.,  30.,  11.,  19.,  20.,
        49.,  22.,  25.,  18.,  27.,  17.,  28.,  24.,  65.,  23.,  41.,
        34.,  33.,  37.,  51.])

In [518]:
testingConVistas.columns

Index(['cantPostulaciones', 'id', 'idaviso', 'idpais', 'idpostulante',
       'sepostulo', 'testSet', 'zona_Buenos Aires (fuera de GBA)',
       'zona_Capital Federal', 'zona_Catamarca', 'zona_Ciudad de Mendoza',
       'zona_Cordoba', 'zona_Corrientes', 'zona_GBA Oeste',
       'zona_Gran Buenos Aires', 'zona_La Plata', 'zona_Mendoza',
       'zona_Neuquen', 'zona_Rosario', 'zona_San Juan', 'zona_Santa Cruz',
       'zona_Santa Fe', 'zona_Tucuman', 'tipo_Fines de Semana',
       'tipo_Full-time', 'tipo_Part-time', 'tipo_Pasantia',
       'tipo_Por Contrato', 'tipo_Por Horas', 'tipo_Primer empleo',
       'tipo_Teletrabajo', 'tipo_Temporario',
       'nivel_Gerencia / Alta Gerencia / Dirección',
       'nivel_Jefe / Supervisor / Responsable', 'nivel_Junior', 'nivel_Otro',
       'nivel_Senior / Semi-Senior', 'cantidadEmpresa', 'cantidadVistos'],
      dtype='object')

In [73]:
datosConVistasSinPostu = datosConVistas.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet'],axis=1)
testingConVistasFiltrado = testingConVistas.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet'],axis=1)

In [520]:
datosConVistasSinPostu.columns.size

32

In [521]:
testingConVistasFiltrado.columns.size

32

In [523]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [525]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, datosConVistas['sepostulo'], test_size=0.7, random_state=7)

In [526]:
models = []
#models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
#models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
#models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
#models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
#models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
#models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
#models.append(('LR', linear_model.LinearRegression()))
#models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
#models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
#models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
#models.append(('BAYESIAN',linear_model.BayesianRidge()))
#models.append(('SVR',svm.LinearSVR()))
#models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
#models.append(('NB', GaussianNB()))
#models.append(('LR', LogisticRegression()))
#models.append(('LDA', LinearDiscriminantAnalysis()))



for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba7-'+ name +'.csv', index=False)

# Agregamos edades

In [ ]:
datosConVistas;
testingConVistas;

In [77]:
datosGeneroMerged = pd.merge(datosConVistas,postulantesGenero,how='left',on='idpostulante')

In [78]:
import datetime as dt

datosGeneroMerged['fechanacimiento'] = pd.to_datetime(datosGeneroMerged['fechanacimiento'], format='%Y-%m-%d', errors='coerce')
datosGeneroMerged = datosGeneroMerged.dropna(subset=['fechanacimiento'])

hoy = pd.Timestamp(dt.datetime.now())
datosGeneroMerged['edad'] = (hoy - datosGeneroMerged['fechanacimiento']).astype('<m8[Y]')

In [79]:
datosGeneroMergedFiltered = datosGeneroMerged.loc[((datosGeneroMerged['edad'] >= 17) & (datosGeneroMerged['edad'] < 80 )), :]

In [80]:
postulantesGeneroOHC = pd.concat([datosGeneroMergedFiltered,pd.get_dummies(datosGeneroMergedFiltered['sexo'], prefix='sexo')],axis=1)

In [81]:
testingConVistasMerged = pd.merge(testingConVistas,postulantesGenero,how='left',on='idpostulante')

In [82]:
testingConVistasMerged['fechanacimiento'] = pd.to_datetime(testingConVistasMerged['fechanacimiento'], format='%Y-%m-%d', errors='coerce')

In [83]:
testingConVistasMerged['edad'] = (hoy - testingConVistasMerged['fechanacimiento']).astype('<m8[Y]')

In [84]:
testingConVistasMergedGeneroOHC = pd.concat([testingConVistasMerged,pd.get_dummies(testingConVistasMerged['sexo'], prefix='sexo')],axis=1)

In [85]:
postulantesGeneroOHC.drop('fechanacimiento',inplace=True,axis=1)

In [86]:
testingConVistasMergedGeneroOHC.drop('fechanacimiento',inplace=True,axis=1)

In [538]:
testingConVistasMergedGeneroOHC.info

<bound method DataFrame.info of        cantPostulaciones       id     idaviso  idpais idpostulante  sepostulo  \
0                    NaN      0.0      739260     1.0       6M9ZQR        NaN
1                    NaN      1.0      739260     1.0       6v1xdL        NaN
2                    NaN      2.0      739260     1.0       ezRKm9        NaN
3                    NaN      3.0      758580     1.0       1Q35ej        NaN
4                    NaN      4.0      758580     1.0       EAN4J6        NaN
5                    NaN      5.0      758580     1.0       8R6pzR        NaN
6                    NaN      6.0      776420     1.0       aZJ2XN        NaN
7                    NaN      7.0      776420     1.0       Nmpo3J        NaN
8                    NaN      8.0      776420     1.0       eVqWar        NaN
9                    NaN      9.0      820850     1.0       6ZBD33        NaN
10                   NaN     10.0      820850     1.0       1j4RNj        NaN
11                   NaN     11.0      820850     1.0        ZOwE8        NaN
12                   NaN     12.0      820850     1.0       NG4BaD        NaN
13                   NaN     13.0      914880     1.0       6q6eNl        NaN
14                   NaN     14.0      914880     1.0       8E8pWj        NaN
15                   NaN     15.0      914880     1.0       eVqbDr        NaN
16                   NaN     16.0     1112360     1.0       6kRZ44        NaN
17                   NaN     17.0     1112360     1.0       8XGB3D        NaN
18                   NaN     18.0     1112360     1.0       5qVB9X        NaN
19                   NaN     19.0     1112360     1.0       Z6zxXZ        NaN
20                   NaN     20.0     1141070     1.0       edaNB4        NaN
21                   NaN     21.0     1141070     1.0       EZ9pe6        NaN
22                   NaN     22.0     1141070     1.0       aXa55D        NaN
23                   NaN     23.0     1144960     1.0       NEJjvL        NaN
24                   NaN     24.0     1144960     1.0       6Q32Vj        NaN
25                   NaN     25.0     1144960     1.0       NWxrWL        NaN
26                   NaN     26.0     1145170     1.0       Y9d5Bw        NaN
27                   NaN     27.0     1145170     1.0       edaoDp        NaN
28                   NaN     28.0     1145170     1.0       Z8pvLz        NaN
29                   NaN     29.0     1176260     1.0       ZvQJ2z        NaN
...                  ...      ...         ...     ...          ...        ...
99970                NaN  99970.0  1112515048     1.0       EbooLJ        NaN
99971                NaN  99971.0  1112515048     1.0       Zv1eoY        NaN
99972                NaN  99972.0  1112515048     1.0       YqJLDw        NaN
99973                NaN  99973.0  1112515056     1.0       8RODvz        NaN
99974                NaN  99974.0  1112515056     1.0       50p1Zp        NaN
99975                NaN  99975.0  1112515056     1.0       aZJQP9        NaN
99976                NaN  99976.0  1112515069     1.0       eZ8294        NaN
99977                NaN  99977.0  1112515069     1.0       NROBQ4        NaN
99978                NaN  99978.0  1112515069     1.0       a8YdG9        NaN
99979                NaN  99979.0  1112515080     1.0       8EQpWl        NaN
99980                NaN  99980.0  1112515080     1.0       ZREM3E        NaN
99981                NaN  99981.0  1112515080     1.0       NDaAYJ        NaN
99982                NaN  99982.0  1112515081     1.0       EwKNO6        NaN
99983                NaN  99983.0  1112515081     1.0       aZJWvq        NaN
99984                NaN  99984.0  1112515081     1.0       8R4ZBz        NaN
99985                NaN  99985.0  1112515099     1.0       eprYVE        NaN
99986                NaN  99986.0  1112515099     1.0       8E8lLW        NaN
99987                NaN  99987.0  1112515099     1.0       Z0A84P        NaN
99988                NaN  99988.0  1112515103     1.0       Y6xQ4q        NaN
99989                NaN  99989.0  1112515103     1.0       NRO8wz        NaN
99990                NaN  99990.0  1112515103     1.0       ZvQaaY        NaN
99991                NaN  99991.0  1112515105     1.0       ZREdK1        NaN
99992                NaN  99992.0  1112515105     1.0       NmpeRJ        NaN
99993                NaN  99993.0  1112515105     1.0       5RVLZv        NaN
99994                NaN  99994.0  1112515111     1.0       YqJDoD        NaN
99995                NaN  99995.0  1112515111     1.0       5RVZBp        NaN
99996                NaN  99996.0  1112515111     1.0       ZvQXN1        NaN
99997                NaN  99997.0  1112515116     1.0       NmpwAB        NaN
99998                NaN  99998.0  1112515116     1.0       aZJMqJ        NaN
99999                NaN  99999.0  1112515116     1.0       8R48Ex        NaN

       testSet  zona_Buenos Aires (fuera de GBA)  zona_Capital Federal  \
0            1                                 0                     1
1            1                                 0                     1
2            1                                 0                     1
3            1                                 0                     1
4            1                                 0                     1
5            1                                 0                     1
6            1                                 0                     1
7            1                                 0                     1
8            1                                 0                     1
9            1                                 1                     0
10           1                                 1                     0
11           1                                 1                     0
12           1                                 1                     0
13           1                                 0                     1
14           1                                 0                     1
15           1                                 0                     1
16           1                                 0                     1
17           1                                 0                     1
18           1                                 0                     1
19           1                                 0                     1
20           1                                 1                     0
21           1                                 1                     0
22           1                                 1                     0
23           1                                 1                     0
24           1                                 1                     0
25           1                                 1                     0
26           1                                 0                     1
27           1                                 0                     1
28           1                                 0                     1
29           1                                 0                     1
...        ...                               ...                   ...
99970        1                                 0                     0
99971        1                                 0                     0
99972        1                                 0                     0
99973        1                                 0                     0
99974        1                                 0                     0
99975        1                                 0                     0
99976        1                                 0                     0
99977        1                                 0                     0
99978        1                                 0                     0
99979        1                                 0                     1
99980        1                                 0                     1
99981        1                                 0                     1
99982        1                                 0                     0
99983        1                                 0                     0
99984        1                                 0                     0
99985        1                                 0                     0
99986        1                                 0                     0
99987        1                                 0                     0
99988        1                                 0                     0
99989        1                                 0                     0
99990        1                                 0                     0
99991        1                                 0                     0
99992        1                                 0                     0
99993        1                                 0                     0
99994        1                                 0                     0
99995        1                                 0                     0
99996        1                                 0                     0
99997        1                                 0                     0
99998        1                                 0                     0
99999        1                                 0                     0

       zona_Catamarca       ...         nivel_Jefe / Supervisor / Responsable  \
0                   0       ...                                             1
1                   0       ...                                             1
2                   0       ...                                             1
3                   0       ...                                             0
4                   0       ...                                             0
5                   0       ...                                             0
6                   0       ...                                             0
7                   0       ...                                             0
8                   0       ...                                             0
9                   0       ...                                             0
10                  0       ...                                             0
11                  0       ...                                             0
12                  0       ...                                             0
13                  0       ...                                             0
14                  0       ...                                             0
15                  0       ...                                             0
16                  0       ...                                             0
17                  0       ...                                             0
18                  0       ...                                             0
19                  0       ...                                             0
20                  0       ...                                             0
21                  0       ...                                             0
22                  0       ...                                             0
23                  0       ...                                             0
24                  0       ...                                             0
25                  0       ...                                             0
26                  0       ...                                             0
27                  0       ...                                             0
28                  0       ...                                             0
29                  0       ...                                             0
...               ...       ...                                           ...
99970               0       ...                                             0
99971               0       ...                                             0
99972               0       ...                                             0
99973               0       ...                                             0
99974               0       ...                                             0
99975               0       ...                                             0
99976               0       ...                                             0
99977               0       ...                                             0
99978               0       ...                                             0
99979               0       ...                                             0
99980               0       ...                                             0
99981               0       ...                                             0
99982               0       ...                                             0
99983               0       ...                                             0
99984               0       ...                                             0
99985               0       ...                                             0
99986               0       ...                                             0
99987               0       ...                                             0
99988               0       ...                                             0
99989               0       ...                                             0
99990               0       ...                                             0
99991               0       ...                                             0
99992               0       ...                                             0
99993               0       ...                                             0
99994               0       ...                                             0
99995               0       ...                                             0
99996               0       ...                                             0
99997               0       ...                                             0
99998               0       ...                                             0
99999               0       ...                                             0

       nivel_Junior  nivel_Otro  nivel_Senior / Semi-Senior  cantidadEmpresa  \
0                 0           0                           0            582.0
1                 0           0                           0            582.0
2                 0           0                           0            582.0
3                 0           1                           0              NaN
4                 0           1                           0              NaN
5                 0           1                           0              NaN
6                 0           1                           0            226.0
7                 0           1                           0            226.0
8                 0           1                           0            226.0
9                 0           1                           0              NaN
10                0           1                           0              NaN
11                0           1                           0              NaN
12                0           1                           0              NaN
13                0           1                           0           8944.0
14                0           1                           0           8944.0
15                0           1                           0           8944.0
16                0           1                           0           3615.0
17                0           1                           0           3615.0
18                0           1                           0           3615.0
19                0           1                           0           3615.0
20                0           1                           0              NaN
21                0           1                           0              NaN
22                0           1                           0              NaN
23                0           1                           0           1215.0
24                0           1                           0           1215.0
25                0           1                           0           1215.0
26                0           1                           0              NaN
27                0           1                           0              NaN
28                0           1                           0              NaN
29                0           1                           0           2161.0
...             ...         ...                         ...              ...
99970             0           0                           1          20321.0
99971             0           0                           1          20321.0
99972             0           0                           1          20321.0
99973             0           0                           1           6581.0
99974             0           0                           1           6581.0
99975             0           0                           1           6581.0
99976             0           0                           1            182.0
99977             0           0                           1            182.0
99978             0           0                           1            182.0
99979             0           0                           1              NaN
99980             0           0                           1              NaN
99981             0           0                           1              NaN
99982             0           0                           1           2400.0
99983             0           0                           1           2400.0
99984             0           0                           1           2400.0
99985             0           0                           1          14338.0
99986             0           0                           1          14338.0
99987             0           0                           1          14338.0
99988             0           0                           1           2167.0
99989             0           0                           1           2167.0
99990             0           0                           1           2167.0
99991             0           0                           1           1165.0
99992             0           0                           1           1165.0
99993             0           0                           1           1165.0
99994             1           0                           0           5843.0
99995             1           0                           0           5843.0
99996             1           0                           0           5843.0
99997             0           1                           0           6922.0
99998             0           1                           0           6922.0
99999             0           1                           0           6922.0

       cantidadVistos        sexo  sexo_FEM  sexo_MASC  sexo_NO_DECLARA
0                 0.0         FEM         1          0                0
1                 0.0        MASC         0          1                0
2                 0.0         FEM         1          0                0
3                 0.0        MASC         0          1                0
4                 0.0         FEM         1          0                0
5                 0.0        MASC         0          1                0
6                 0.0        MASC         0          1                0
7                 0.0        MASC         0          1                0
8                 0.0         FEM         1          0                0
9                 0.0        MASC         0          1                0
10                0.0         FEM         1          0                0
11                0.0         FEM         1          0                0
12                0.0         FEM         1          0                0
13                0.0        MASC         0          1                0

In [88]:
datosConVistasSinPostu = postulantesGeneroOHC.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo'],axis=1)
testingConVistasFiltrado = testingConVistasMergedGeneroOHC.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo'],axis=1)

In [588]:
datosConVistasSinPostu.columns.size

36

In [587]:
testingConVistasFiltrado.columns.size

36

In [91]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [591]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, postulantesGeneroOHC['sepostulo'], test_size=0.7, random_state=7)

In [592]:
models = []
#models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
#models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
#models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
#models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
#models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
#models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
#models.append(('LR', linear_model.LinearRegression()))
#models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
#models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
#models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
#models.append(('BAYESIAN',linear_model.BayesianRidge()))
#models.append(('SVR',svm.LinearSVR()))
#models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
#models.append(('NB', GaussianNB()))
#models.append(('LR', LogisticRegression()))
#models.append(('LDA', LinearDiscriminantAnalysis()))



for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba8-'+ name +'.csv', index=False)

# Mejoramos estudios

In [598]:
#educacionOHC = pd.concat([postulantesEducacion,pd.get_dummies(postulantesEducacion['nombre'], prefix='educacion')],axis=1)

In [602]:
postulantesEducacion.head()

  idpostulante         nombre    estado
0         ZjlZ         Master  En Curso
1         NdJl       Posgrado  En Curso
2         5kNq           Otro  En Curso
3         8rYD         Master  En Curso
4         1Wvj  Universitario  En Curso

In [92]:
postulantesEducacion['nombreEstado'] = postulantesEducacion['nombre'] +" - " + postulantesEducacion['estado']

In [93]:
educacionOHC = pd.concat([postulantesEducacion,pd.get_dummies(postulantesEducacion['nombreEstado'], prefix='educacion')],axis=1)

In [94]:
educacionOHC.drop(['nombre','estado','nombreEstado'],axis=1,inplace=True)

In [95]:
educacionOHCGP = educacionOHC.groupby('idpostulante').sum()

In [96]:
educacionOHCGP = educacionOHCGP.reset_index()

In [97]:
##Mergeamos
#postulantesGeneroOHC
#testingConVistasMergedGeneroOHC

datosTrainingConEstudios = pd.merge(postulantesGeneroOHC,educacionOHCGP,how='inner',on='idpostulante')

In [98]:
datosTestingConEstudios = pd.merge(testingConVistasMergedGeneroOHC,educacionOHCGP,how='left',on='idpostulante')

In [99]:
datosConVistasSinPostu = datosTrainingConEstudios.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo'],axis=1)
testingConVistasFiltrado = datosTestingConEstudios.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo'],axis=1)

In [629]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [630]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, datosTrainingConEstudios['sepostulo'], test_size=0.7, random_state=7)

In [631]:
models = []
#models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
#models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
#models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
#models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
#models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
#models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
#models.append(('LR', linear_model.LinearRegression()))
#models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
#models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
#models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
#models.append(('BAYESIAN',linear_model.BayesianRidge()))
#models.append(('SVR',svm.LinearSVR()))
#models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
#models.append(('NB', GaussianNB()))
#models.append(('LR', LogisticRegression()))
#models.append(('LDA', LinearDiscriminantAnalysis()))



for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba9-'+ name +'.csv', index=False)

# Agregamos nombre area (Hasta ahora la mejor)

In [637]:
from sklearn.feature_extraction.text import TfidfVectorizer

TFIDF = TfidfVectorizer()
areaConTFIDF = TFIDF.fit_transform(avisosDetalle['nombre_area']);

In [650]:
from sklearn.base import BaseEstimator, TransformerMixin

class NicoTransformer(BaseEstimator, TransformerMixin):

    def __init__(self):
        self

    def transform(self, X, y=None):
        return X

    def fit(self, X, y=None):
        return self

In [769]:
#Creamos un pipeline

from sklearn.pipeline import make_union, make_pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline, FeatureUnion


def getTextCols(df):
    return df[['titulo','nombre_area','descripcion']];

def getResto(df):
    return df.drop(['titulo','nombre_area','descripcion'],axis=1);


class ArrayCaster(BaseEstimator, TransformerMixin):
  def fit(self, x, y=None):
    return self

  def transform(self, data):
    return  np.array(list(data))


vec = make_union(*[
    make_pipeline(FunctionTransformer(getTextCols, validate=False),TfidfVectorizer())
])

In [100]:
detalleTodas = pd.concat([avisosDetalle, avisosDetallesCompletos])

In [101]:
detalleTodas['cantidadNombre'] = 1
detalleTodas['cantidadNombre'].fillna('Otros')
detalleTodasGP = detalleTodas.groupby('nombre_area').sum()

In [102]:
detalleTodasGP = detalleTodasGP.reset_index()
detalleTodasFiltered = detalleTodasGP[['nombre_area','cantidadNombre']]

In [984]:
detalleTodasFiltered.head()

                       nombre_area  cantidadNombre
0                   Abastecimiento             152
1        Administracion de Seguros              46
2                   Administración            2215
3  Administración de Base de Datos              29
4       Administración de Personal             376

In [104]:
avisosDetalleF = avisosDetalle[['idaviso','nombre_area']]
trainingMergeadoConDetalle = pd.merge(datosTrainingConEstudios,avisosDetalleF,on='idaviso',how='inner')

In [105]:
adf = avisosDetallesCompletos[['idaviso','nombre_area']]
testingMergeadoConDetalle = pd.merge(datosTestingConEstudios,adf,on='idaviso',how='left')

In [106]:
testingConCantNombre = pd.merge(testingMergeadoConDetalle,detalleTodasFiltered,on='nombre_area',how='left')
trainingConCantNombre = pd.merge(trainingMergeadoConDetalle,detalleTodasFiltered,on='nombre_area',how='inner')

In [1014]:
testingConCantNombre.columns.size

67

In [1015]:
trainingConCantNombre.columns.size

67

In [109]:
datosConVistasSinPostu = trainingConCantNombre.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area'],axis=1)
testingConVistasFiltrado = testingConCantNombre.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area'],axis=1)

In [110]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [111]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, trainingConCantNombre['sepostulo'], test_size=0.7, random_state=7)

In [116]:
datosConVistasSinPostu.columns.size

59

In [113]:
models = []
#models.append(('RF10', RandomForestRegressor(n_estimators=10, max_features='sqrt')))
#models.append(('RF20', RandomForestRegressor(n_estimators=20, max_features='sqrt')))
#models.append(('RF50',  RandomForestRegressor(n_estimators=50, max_features='sqrt')))
#models.append(('RF60',  RandomForestRegressor(n_estimators=60, max_features='sqrt')))
models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
#models.append(('RF100',  RandomForestClassifier(n_estimators=100, max_features='sqrt')))
#models.append(('KNN 2', KNeighborsClassifier(n_neighbors=2)))
#models.append(('KNN 3', KNeighborsClassifier(n_neighbors=3)))
#models.append(('LR', linear_model.LinearRegression()))
#models.append(('RIDGE.05', linear_model.Ridge (alpha = .5)))
#models.append(('LASO.01', linear_model.Ridge (alpha = .1)))
#models.append(('LASOLARS.05',linear_model.LassoLars (alpha = 0.5)))
#models.append(('BAYESIAN',linear_model.BayesianRidge()))
#models.append(('SVR',svm.LinearSVR()))
#models.append(('DES-TREE',tree.DecisionTreeRegressor()))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))
#models.append(('NB', GaussianNB()))
#models.append(('LR', LogisticRegression()))
#models.append(('LDA', LinearDiscriminantAnalysis()))



for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    #archivo.to_csv('entregas/'+'prueba10-'+ name +'.csv', index=False)
    #archivo.to_csv('entregas/'+'prueba15-'+ name +'.csv', index=False)
    archivo.to_csv('entregas/'+'pruebaRE-ENTRENAMIENTO-15-2'+ name +'.csv', index=False)

# Pruebo eliminando duplicados en training set -- DA PEOR

In [1036]:
trainingConCantNombreSinDuplicados = trainingConCantNombre.drop_duplicates(subset=['idaviso','idpostulante'])

In [1037]:
datosConVistasSinPostu = trainingConCantNombreSinDuplicados.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area'],axis=1)
testingConVistasFiltrado = testingConCantNombre.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area'],axis=1)

In [1038]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [1039]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, trainingConCantNombreSinDuplicados['sepostulo'], test_size=0.7, random_state=7)

In [1040]:
models = []

models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))

for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba11-'+ name +'.csv', index=False)

# Agregamos titulo

In [1079]:
#Mala prueba

In [1046]:
#testingConCantNombre
#trainingConCantNombre


adf = avisosDetallesCompletos[['idaviso','titulo']]
testingConTitulo = pd.merge(testingConCantNombre,adf,on='idaviso',how='left')

In [1047]:
avisosDetalleF = avisosDetalle[['idaviso','titulo']]
trainingConTitulo = pd.merge(trainingConCantNombre,avisosDetalleF,on='idaviso',how='inner')

In [1053]:
avisosDetalleF['cantidadTitulo'] = 1
avg = avisosDetalleF.groupby('titulo').sum()

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [1060]:
adf['cantidadTitulo'] = 1
adfg = adf.groupby('titulo').sum()

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [1062]:
adfg = adfg.reset_index();
adfg.drop('idaviso',inplace=True,axis=1)

In [1056]:
avg.sort_values('cantidadTitulo',ascending=False)

,idaviso,cantidadTitulo
titulo,,
Analista Contable,35593204537,32
Administrativo Contable,28921237557,26
Analista de Testing manual Ssr. // Zona Recoleta CABA,22246263586,20
Vendedor,22246291121,20
Analistas de Testing Ssr/Sr con Automatización // MENDOZA,22246262600,20
Desarrolladores .NET C# nivel Jr. / de 6 a 18 meses de exp,21133757680,19
Analista de inteligencia comercial,21133239793,19
Ejecutivo de Ventas,20018610334,18
Desarrolladores JAVA SOA / JBOSS RED HAT // Zona Recoleta,20021759762,18
Analista Sr. de Arquitectura de Software JAVA - CABA,18909804564,17
Analista Funcional,17686775421,16
Asistente Comercial,17797987490,16
Jefe de Ventas,17797338472,16
Asesor Comercial,15572836615,14
Programador C# .NET Sr. // Zona Tribunales,15572400736,14
Recepcionista,15572691336,14
Developers JAVA Ssr/Sr. - LA PLATA,14459834629,13
Ejecutivo Comercial,14460480254,13
Gerente Comercial,14460036156,13
Desarrollador C# y SQL Server ( zona BELGRANO - CABA ) URGENTE!!,14460881942,13
Desarrolladores .NET ( zona BELGRANO - CABA ) URGENTE!!,14460881792,13
Programadores Visual FOXPRO ( zona BELGRANO - CABA ) URGENTE!!!,13348468460,12
Analista de Soporte Técnico Ssr. // Zona Palermo,13347555039,12
Vendedor plan de ahorro - Telemarketer TOYOTA,12235363172,11
Técnico Electromecánico,11122574261,10
Analista Comercial,11122855940,10
Supervisor de Producción,11123303681,10
Ejecutivo de Cuentas,11123085396,10
Analista de Cobranzas,11123658851,10
ANALISTA ADMINISTRATIVO CONTABLE,11123565083,10
...,...,...
Contador Sr.,1112421209,1
Contador (Administrativo Contable) Paraná,1112394304,1
Contables Jr. | Ssr. | Sr.,1112429426,1
Consultor en Auditoría Externa para Industria Bancaria,1112242196,1
Consultor/a Training para importante proyecto de 6 meses,1112368096,1
Consultor en Implementaciones de Tecnologías de Management (Microsoft),1112408823,1
Consultor en Mensajería Microsoft,1112452177,1
Consultor en Riesgos y Finanza ( Córdoba),1112441782,1
"Consultor en Seguridad SAP Senior (ECC, MÓDULOS FI  MM  PS  PM  HR  CO, SOLMAN)",1112296428,1
Consultor en Seguridad de Bases de Datos.,1112208545,1
Consultor para Implementaciones de Software Financiero,1112394689,1
Consultor para Proyectos Comerciales en el Exterior (posición eventual),1112277406,1
Consultor/Administrador Aplicaciones DOCUMENTUM JBOSS TOMCAD,1112346093,1
Consultor/a Comercial con experiencia en Industria para Capital Federal,1112381820,1
Consultor/a Selección - Consultoría de RRHH  San Isidro,1112392159,1
Consultor/a Training Zona Sur,1112457669,1
Consultor/a de Belleza - Rosario,1112269815,1
Contable para liquidación Impuestos,1112309622,1
Consultor/a de Belleza - Tucumán,1112463131,1
Consultor/a de Búsqueda y Selección - Sucursal Olivos,1112341125,1
Consultor/a de Capacitación & Consultoria,1112205015,1
Consultor/a en Diseño y Mejora de Organización y Procesos de la Función Comercial,1112361505,1
"Consultora radicada en Martínez, incorporará asistente ejecutiva",1112346547,1
Consultoras/es de belleza - Capital Federal,1112269771,1
Consultores Funcionales Junior,1112310794,1
Consultores PMO,1112370979,1
Consultores SAP,1112252728,1
Consultores SAP ( PM/MM/FI ),1112285881,1
Consultores SAP FICO,1112381751,1
Óptico técnico para zona Sur,1112266386,1

In [1058]:
avgFinal = avg.reset_index();
avgFinal.drop('idaviso',inplace=True,axis=1)

In [1059]:
trainingConCantTitulo =pd.merge(trainingConTitulo,avgFinal,on='titulo',how='inner')

In [1063]:
testingConCantTitulo = pd.merge(testingConTitulo,adfg,on='titulo',how='left')

In [1067]:
testingConCantTitulo.drop('titulo',axis=1,inplace=True)
trainingConCantTitulo.drop('titulo',axis=1,inplace=True)

In [1074]:
trainingConCantTitulo.columns

Index(['cantPostulaciones', 'id', 'idaviso', 'idpais', 'idpostulante',
       'sepostulo', 'testSet', 'zona_Buenos Aires (fuera de GBA)',
       'zona_Capital Federal', 'zona_Catamarca', 'zona_Ciudad de Mendoza',
       'zona_Cordoba', 'zona_Corrientes', 'zona_GBA Oeste',
       'zona_Gran Buenos Aires', 'zona_La Plata', 'zona_Mendoza',
       'zona_Neuquen', 'zona_Rosario', 'zona_San Juan', 'zona_Santa Cruz',
       'zona_Santa Fe', 'zona_Tucuman', 'tipo_Fines de Semana',
       'tipo_Full-time', 'tipo_Part-time', 'tipo_Pasantia',
       'tipo_Por Contrato', 'tipo_Por Horas', 'tipo_Primer empleo',
       'tipo_Teletrabajo', 'tipo_Temporario',
       'nivel_Gerencia / Alta Gerencia / Dirección',
       'nivel_Jefe / Supervisor / Responsable', 'nivel_Junior', 'nivel_Otro',
       'nivel_Senior / Semi-Senior', 'cantidadEmpresa', 'cantidadVistos',
       'sexo', 'edad', 'sexo_FEM', 'sexo_MASC', 'sexo_NO_DECLARA',
       'educacion_Doctorado - Abandonado', 'educacion_Doctorado - En Curso',
       'educacion_Doctorado - Graduado', 'educacion_Master - Abandonado',
       'educacion_Master - En Curso', 'educacion_Master - Graduado',
       'educacion_Otro - Abandonado', 'educacion_Otro - En Curso',
       'educacion_Otro - Graduado', 'educacion_Posgrado - Abandonado',
       'educacion_Posgrado - En Curso', 'educacion_Posgrado - Graduado',
       'educacion_Secundario - Abandonado', 'educacion_Secundario - En Curso',
       'educacion_Secundario - Graduado',
       'educacion_Terciario/Técnico - Abandonado',
       'educacion_Terciario/Técnico - En Curso',
       'educacion_Terciario/Técnico - Graduado',
       'educacion_Universitario - Abandonado',
       'educacion_Universitario - En Curso',
       'educacion_Universitario - Graduado', 'nombre_area', 'cantidadNombre',
       'cantidadTitulo'],
      dtype='object')

In [1068]:
datosConVistasSinPostu = trainingConCantTitulo.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area'],axis=1)
testingConVistasFiltrado = testingConCantTitulo.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area'],axis=1)

In [1073]:
testingConVistasFiltrado.drop('index',axis=1,inplace=True)

In [1075]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [1076]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, trainingConCantTitulo['sepostulo'], test_size=0.7, random_state=7)

In [1077]:
models = []

models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))

for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba12-'+ name +'.csv', index=False)

### Prueba 2

# Pasamos edades a Rango -- dio Peor

In [ ]:
trainingConCantNombre
testingConCantNombre

In [1081]:
trainingConCantNombre.head()

,cantPostulaciones,id,idaviso,idpais,idpostulante,sepostulo,testSet,zona_Buenos Aires (fuera de GBA),zona_Capital Federal,zona_Catamarca,...,educacion_Secundario - En Curso,educacion_Secundario - Graduado,educacion_Terciario/Técnico - Abandonado,educacion_Terciario/Técnico - En Curso,educacion_Terciario/Técnico - Graduado,educacion_Universitario - Abandonado,educacion_Universitario - En Curso,educacion_Universitario - Graduado,nombre_area,cantidadNombre
0,0.0,NaN,1112461512,1.0,YjoolD,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,Tecnologia / Sistemas,947
1,0.0,NaN,1112461512,1.0,YjoolD,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,Tecnologia / Sistemas,947
2,0.0,NaN,1112461512,1.0,YjoolD,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,Tecnologia / Sistemas,947
3,0.0,NaN,1112461512,1.0,YjoolD,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,Tecnologia / Sistemas,947
4,0.0,NaN,1112461512,1.0,YjoolD,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,Tecnologia / Sistemas,947

In [1083]:
postulantesEdad = postulantesGenero[['fechanacimiento','idpostulante']]

In [1087]:
trainingConCantNombre['menor24'] = np.where(trainingConCantNombre['edad'] < 25, 1, 0);
trainingConCantNombre['menor31'] = np.where(trainingConCantNombre['edad'] < 31, 1, 0);
trainingConCantNombre['menor36'] = np.where(trainingConCantNombre['edad'] < 36, 1, 0);
trainingConCantNombre['menor40'] = np.where(trainingConCantNombre['edad'] < 40, 1, 0);
trainingConCantNombre['menor50'] = np.where(trainingConCantNombre['edad'] < 51, 1, 0);
trainingConCantNombre['mayor50'] = np.where(trainingConCantNombre['edad'] > 51, 1, 0);
trainingConCantNombre['resto']   = np.where(trainingConCantNombre['edad'].isnull(), 1, 0);

In [1089]:
testingConCantNombre['menor24'] = np.where(testingConCantNombre['edad'] < 25, 1, 0);
testingConCantNombre['menor31'] = np.where(testingConCantNombre['edad'] < 31, 1, 0);
testingConCantNombre['menor36'] = np.where(testingConCantNombre['edad'] < 36, 1, 0);
testingConCantNombre['menor40'] = np.where(testingConCantNombre['edad'] < 40, 1, 0);
testingConCantNombre['menor50'] = np.where(testingConCantNombre['edad'] < 51, 1, 0);
testingConCantNombre['mayor50'] = np.where(testingConCantNombre['edad'] > 51, 1, 0);
testingConCantNombre['resto']   = np.where(testingConCantNombre['edad'].isnull(), 1, 0);

In [1090]:
datosConVistasSinPostu = trainingConCantTitulo.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area','edad'],axis=1)
testingConVistasFiltrado = testingConCantTitulo.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area','edad'],axis=1)
testingConVistasFiltrado.drop('index',axis=1,inplace=True)

In [1091]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [1092]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, trainingConCantTitulo['sepostulo'], test_size=0.7, random_state=7)

In [1094]:
models = []

models.append(('RF100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))

for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba13-'+ name +'.csv', index=False)

# Prueba 14 - TF - IDF

In [1110]:
testingConCantNombre.drop(['menor24','menor31','menor36','menor40','menor50','mayor50','resto'],axis=1,inplace=True)
trainingConCantNombre.drop(['menor24','menor31','menor36','menor40','menor50','mayor50','resto'],axis=1,inplace=True)

ValueError: labels ['menor24' 'menor31' 'menor36' 'menor40' 'menor50' 'mayor50' 'resto'] not contained in axis

In [1098]:
def limpiamosTexto(text):
    text

In [1114]:
avisosDetalle['descripcionSinHTML'] = avisosDetalle['descripcion'].str.strip()

In [1164]:
#elimino tags de descripcion
avisosDetalle['descripcionSinHTML'] = avisosDetalle['descripcion'].str.replace(r"<\/?\w+.*?>","");
avisosDetalle['descripcionSinHTML'] = avisosDetalle['descripcionSinHTML'].str.replace(r"\s{2,}"," ");

In [1160]:
#import nltk
#nltk.download()
#from nltk.corpus import stopwords
#stop = stopwords.words('spanish')

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [1165]:
avisosDetalle['descripcionSinHTML'] =avisosDetalle['descripcionSinHTML'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [1167]:
avisosDetalle['descripcionSinHTML'].head(5)

0    Buscamos Responsable Producto incorporarse dep...
1    Para cliente, concesionario Chevrolet ubicado ...
2    Importante Estudio Auditoria Consultoria ubica...
3    Chevron is multinational company in the energy...
4    Importante empresa energías renovables, encuen...
Name: descripcionSinHTML, dtype: object

In [1171]:
tvec = TfidfVectorizer(min_df=.0025, max_df=.1,stop_words='english')
tvec_weights = tvec.fit_transform(avisosDetalle['descripcionSinHTML'])
weights = np.asarray(tvec_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': tvec.get_feature_names(), 'weight': weights})
top100 = weights_df.sort_values(by='weight', ascending=False).head(100)

In [1175]:
#datosMergeadosConDetalle.head()
datosMergeadosPrueba = datosMergeadosConDetalle[['sepostulo','descripcion','idaviso','titulo']]

In [1179]:
datosMergeadosPrueba['descripcion'] =datosMergeadosPrueba['descripcion'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [1185]:
estimators = [("tf_idf", TfidfVectorizer()), 
              ("ridge", linear_model.Ridge())]
model = Pipeline(estimators)

In [1187]:
model.fit(datosMergeadosPrueba['descripcion'],datosMergeadosPrueba['sepostulo'])

Pipeline(memory=None,
     steps=[('tf_idf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
...it_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))])

In [1189]:
testingSetConDetallePrueba =testingSetConDetalle[['descripcion','idaviso','titulo']]

In [1201]:
testingSetConDetallePrueba['descripcion'] = testingSetConDetallePrueba['descripcion'].fillna(" ")
#elimino tags de descripcion
testingSetConDetallePrueba['descripcion'] = testingSetConDetallePrueba['descripcion'].str.replace(r"<\/?\w+.*?>","");
testingSetConDetallePrueba['descripcion'] = testingSetConDetallePrueba['descripcion'].str.replace(r"\s{2,}"," ");

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [1195]:
testingSetConDetallePrueba['descripcion']

0        Nuestro cliente es una empresa nac. ubicada en...
1        Nuestro cliente es una empresa nac. ubicada en...
2        Nuestro cliente es una empresa nac. ubicada en...
3         TeleTech, the worlwide leader in outsourced c...
4         TeleTech, the worlwide leader in outsourced c...
5         TeleTech, the worlwide leader in outsourced c...
6        Somos una Consultora en Management, Transforma...
7        Somos una Consultora en Management, Transforma...
8        Somos una Consultora en Management, Transforma...
9        Importante compañía de packaging interesada en...
10       Importante compañía de packaging interesada en...
11       Importante compañía de packaging interesada en...
12       Importante compañía de packaging interesada en...
13       Requerimos Profesionales de las carreras de si...
14       Requerimos Profesionales de las carreras de si...
15       Requerimos Profesionales de las carreras de si...
16       Importante empresa de sistemas nos encomendó l...
17       Importante empresa de sistemas nos encomendó l...
18       Importante empresa de sistemas nos encomendó l...
19       Importante empresa de sistemas nos encomendó l...
20       VOS PODES SER PARTE DE LA EMPRESA Nº 1 DEL MUN...
21       VOS PODES SER PARTE DE LA EMPRESA Nº 1 DEL MUN...
22       VOS PODES SER PARTE DE LA EMPRESA Nº 1 DEL MUN...
23       Para importante empresa de Telemarketing. La b...
24       Para importante empresa de Telemarketing. La b...
25       Para importante empresa de Telemarketing. La b...
26       Banco Internacional de primer nivel se encuent...
27       Banco Internacional de primer nivel se encuent...
28       Banco Internacional de primer nivel se encuent...
29       Buscamos INGENIEROS CIVILES y ARQUITECTOS con ...
                               ...
99970    Adecco Office está especializada en el recluta...
99971    Adecco Office está especializada en el recluta...
99972    Adecco Office está especializada en el recluta...
99973    IT Resources se encuentra en la búsqueda de un...
99974    IT Resources se encuentra en la búsqueda de un...
99975    IT Resources se encuentra en la búsqueda de un...
99976    Importante empresa del metalúrgica, realiza bú...
99977    Importante empresa del metalúrgica, realiza bú...
99978    Importante empresa del metalúrgica, realiza bú...
99979    Nos encontramos en la búsqueda de un Asistente...
99980    Nos encontramos en la búsqueda de un Asistente...
99981    Nos encontramos en la búsqueda de un Asistente...
99982    Importante empresa de Medicina Prepaga, busca ...
99983    Importante empresa de Medicina Prepaga, busca ...
99984    Importante empresa de Medicina Prepaga, busca ...
99985    Nuestra búsqueda se orienta a perfiles comerci...
99986    Nuestra búsqueda se orienta a perfiles comerci...
99987    Nuestra búsqueda se orienta a perfiles comerci...
99988    Será responsable de centralizar la información...
99989    Será responsable de centralizar la información...
99990    Será responsable de centralizar la información...
99991    ProHygiene, compañía líder en su rubro con pre...
99992    ProHygiene, compañía líder en su rubro con pre...
99993    ProHygiene, compañía líder en su rubro con pre...
99994     View Quality Consulting seleccionará una Anal...
99995     View Quality Consulting seleccionará una Anal...
99996     View Quality Consulting seleccionará una Anal...
99997    Mabxience es el laboratorio en Argentina de In...
99998    Mabxience es el laboratorio en Argentina de In...
99999    Mabxience es el laboratorio en Argentina de In...
Name: descripcion, Length: 100000, dtype: object

In [1202]:
testingSetConDetallePrueba['descripcion'] =testingSetConDetallePrueba['descripcion'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [1203]:
result= model.predict(testingSetConDetallePrueba['descripcion'])

In [1205]:
archivo = pd.DataFrame()
archivo['id'] = testingSet.loc[:,['id']]
archivo['resultDescripcion'] = pruebas

In [1206]:
testingConCantNombre['resultDescripcion'] = pruebas

In [1209]:
trainingConCantNombreDetalle = pd.merge(trainingConCantNombre,avisosDetalle[['idaviso','descripcion']],left_on='idaviso',right_on='idaviso',how='inner')

In [1211]:
trainingConCantNombreDetalle['descripcion'] = trainingConCantNombreDetalle['descripcion'].fillna(" ")
#elimino tags de descripcion
trainingConCantNombreDetalle['descripcion'] = trainingConCantNombreDetalle['descripcion'].str.replace(r"<\/?\w+.*?>","");
trainingConCantNombreDetalle['descripcion'] = trainingConCantNombreDetalle['descripcion'].str.replace(r"\s{2,}"," ");

trainingConCantNombreDetalle['descripcion'] =trainingConCantNombreDetalle['descripcion'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

resultT= model.predict(trainingConCantNombreDetalle['descripcion'])

In [1212]:
trainingConCantNombreDetalle['resultDescripcion'] = resultT

In [1217]:
datosConVistasSinPostu = trainingConCantNombreDetalle.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area','edad'],axis=1)
testingConVistasFiltrado = testingConCantNombre.drop(['idpais','sepostulo','idaviso','idpostulante','id','cantPostulaciones','testSet','sexo','nombre_area','edad'],axis=1)
#testingConVistasFiltrado.drop('index',axis=1,inplace=True)

ValueError: labels ['descripcion'] not contained in axis

In [1224]:
datosConVistasSinPostu.drop('descripcion',axis=1,inplace=True)

In [1225]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
datosForTrainingSinPostuSinNulos = imp.fit_transform(datosConVistasSinPostu)
datosForTestFinalSinNulos = imp.fit_transform(testingConVistasFiltrado)

In [1226]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(datosForTrainingSinPostuSinNulos, trainingConCantNombreDetalle['sepostulo'], test_size=0.7, random_state=7)

In [1229]:
models = []

models.append(('RFC100',  RandomForestClassifier(n_estimators=100, max_features='sqrt')))
models.append(('RFR100',  RandomForestRegressor(n_estimators=100, max_features='sqrt')))
models.append(('DES-TREE',tree.DecisionTreeRegressor()))

for name, model in models:
    m = model.fit(X_train, Y_train)
    pruebas = m.predict(datosForTestFinalSinNulos)
    archivo = pd.DataFrame()
    archivo['id'] = testingSet.loc[:,['id']]
    archivo['sepostulo'] = np.around(pruebas, decimals=0)
    archivo.to_csv('entregas/'+'prueba16-'+ name +'.csv', index=False)